## Import Data
Importing CSVs and converting into <em>Pandas</em> data frames.

In [1]:
import pandas as pd

### Trade Statistics - Exports

In [2]:
df = pd.read_csv('resources/tradeStats_exports.csv')

In [3]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [4]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [5]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [6]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [7]:
# Concat dataframes for normalized (1NF) data structure
export_df = pd.concat(final_list).reset_index(drop = True)
export_df[3] = "Export"

### Trade Statistics - Imports

In [8]:
df = pd.read_csv('resources/tradeStats_imports.csv')

In [9]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [10]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [11]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [12]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [13]:
# Concat dataframes for normalized (1NF) data structure
import_df = pd.concat(final_list).reset_index(drop = True)
import_df[3] = "Import"

### Price to Growers - Colombian Milds

In [14]:
# Read CSV
df = pd.read_csv('resources/priceGrowers_colombianMilds.csv')

In [15]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [16]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [17]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [18]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [19]:
# Concat dataframes for normalized (1NF) data structure
colombianMild_df = pd.concat(final_list).reset_index(drop = True)
colombianMild_df[3] = "Colombian Milds"

### Price to Growers - Other Milds

In [20]:
df = pd.read_csv('resources/priceGrowers_otherMilds.csv')

In [21]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [22]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [23]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [24]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [25]:
# Concat dataframes for normalized (1NF) data structure
otherMild_df = pd.concat(final_list).reset_index(drop = True)
otherMild_df[3] = "Other Milds"

### Price to Growers - Brazilian Naturals

In [26]:
df = pd.read_csv('resources/priceGrowers_brazilianNaturals.csv')

In [27]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [28]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [29]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [30]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [31]:
# Concat dataframes for normalized (1NF) data structure
brazilianNatural_df = pd.concat(final_list).reset_index(drop = True)
brazilianNatural_df[3] = "Brazilian Naturals"

### Price to Growers - Robustas

In [32]:
df = pd.read_csv('resources/priceGrowers_robustas.csv')

In [33]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [34]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [35]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [36]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [37]:
# Concat dataframes for normalized (1NF) data structure
robusta_df = pd.concat(final_list).reset_index(drop = True)
robusta_df[3] = "Robustas"

### Total Production of Exporting Countries - April group

In [38]:
df = pd.read_csv('resources/totalProduction_april.csv')

In [39]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [40]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [41]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [42]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [43]:
# Concat dataframes for normalized (1NF) data structure
totalProd_april_df = pd.concat(final_list).reset_index(drop = True)
totalProd_april_df[3] = "April"

### Total Production of Exporting Countries - July group

In [44]:
df = pd.read_csv('resources/totalProduction_july.csv')

In [45]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [46]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [47]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [48]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [49]:
# Concat dataframes for normalized (1NF) data structure
totalProd_july_df = pd.concat(final_list).reset_index(drop = True)
totalProd_july_df[3] = "July"

### Total Production of Exporting Countries - October group

In [50]:
df = pd.read_csv('resources/totalProduction_october.csv')

In [51]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [52]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [53]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [54]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [55]:
# Concat dataframes for normalized (1NF) data structure
totalProd_october_df = pd.concat(final_list).reset_index(drop = True)
totalProd_october_df[3] = "October"

### Indicator Price - ICO Composite

In [56]:
df = pd.read_csv('resources/indicator_ICOcomposite.csv')

In [57]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [58]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])

In [59]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [60]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [61]:
# Concat dataframes for normalized (1NF) data structure
indicator_ICO_df = pd.concat(final_list).reset_index(drop = True)
indicator_ICO_df[3] = "ICO Composite"

### Indicator Price - Colombian Milds

In [62]:
df = pd.read_csv('resources/indicator_colombianMilds.csv')

In [63]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [64]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])

In [65]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [66]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [67]:
# Concat dataframes for normalized (1NF) data structure
indicator_colombianMild_df = pd.concat(final_list).reset_index(drop = True)
indicator_colombianMild_df[3] = "Colombian Milds"

### Indicator Price - Other Milds

In [68]:
df = pd.read_csv('resources/indicator_otherMilds.csv')

In [69]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [70]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])

In [71]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [72]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [73]:
# Concat dataframes for normalized (1NF) data structure
indicator_otherMild_df = pd.concat(final_list).reset_index(drop = True)
indicator_otherMild_df[3] = "Other Milds"

### Indicator Price - Brazilian Naturals

In [74]:
df = pd.read_csv('resources/indicator_brazilianNaturals.csv')

In [75]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [76]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])

In [77]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [78]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [79]:
# Concat dataframes for normalized (1NF) data structure
indicator_brazilianNatural_df = pd.concat(final_list).reset_index(drop = True)
indicator_brazilianNatural_df[3] = "Brazilian Naturals"

### Indicator Price - Robustas

In [80]:
df = pd.read_csv('resources/indicator_robustas.csv')

In [81]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [82]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])

In [83]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [84]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [85]:
# Concat dataframes for normalized (1NF) data structure
indicator_robusta_df = pd.concat(final_list).reset_index(drop = True)
indicator_robusta_df[3] = "Robustas"

### Retail Prices for Importing Countries

In [86]:
df = pd.read_csv('resources/retailPrice.csv')

In [87]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [88]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [89]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [90]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [91]:
# Concat dataframes for normalized (1NF) data structure
retailPrice_df = pd.concat(final_list).reset_index(drop = True)

### Country Coordinates

In [92]:
coordinate_df = pd.read_csv('resources/countryCoordinate.csv')

## Create SQLite database
Use the data frames to create a <em>SQLite</em> database

In [93]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, String, create_engine
from sqlalchemy.orm import Session

### Concatenate related dataframes

In [94]:
# Concat "Trade Statistic" DataFrames
trade_list = [export_df , import_df]

trade_df = pd.concat(trade_list).reset_index(drop = True).replace("Bolivia (Plurinational State of)", "Bolivia").replace("Lao People's Democratic Republic", "Laos").replace("Trinidad & Tobago", "Trinidad and Tobago")

In [95]:
# Concat "Price to Growers" DataFrames
priceGrowers_list = [colombianMild_df , otherMild_df , brazilianNatural_df , robusta_df]

priceGrowers_df = pd.concat(priceGrowers_list).reset_index(drop = True).replace("Bolivia (Plurinational State of)", "Bolivia").replace("Trinidad & Tobago", "Trinidad and Tobago")

In [96]:
# Concat "Total Production" DataFrames
totalProd_list = [totalProd_april_df , totalProd_july_df , totalProd_october_df]

totalProd_df = pd.concat(totalProd_list).reset_index(drop = True).replace("Bolivia (Plurinational State of)", "Bolivia").replace("Viet Nam", "Vietnam").replace("Lao People's Democratic Republic", "Laos").replace("Trinidad & Tobago", "Trinidad and Tobago")

In [97]:
# Concat "Indicator Price" DataFrames
indicator_list = [indicator_ICO_df , indicator_colombianMild_df , indicator_otherMild_df , indicator_brazilianNatural_df , indicator_robusta_df]

indicator_df = pd.concat(indicator_list).reset_index(drop = True)

### Create table classes

In [98]:
Base = declarative_base()

In [99]:
class trade_stats(Base):
    __tablename__ = 'Trade_Stats'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    country = Column(String(255))
    per1K_60kgbag = Column(Float)
    transaction = Column(String(255))

class price_growers(Base):
    __tablename__ = 'Price_to_Growers'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    country = Column(String(255))
    UScents_perlb = Column(Float)
    coffee_type = Column(String(255))

class total_prod(Base):
    __tablename__ = 'Total_Production'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    country = Column(String(255))
    per1K_60kgbag = Column(Float)
    month_group = Column(String(255))
    
class indicator(Base):
    __tablename__ = 'Indicator_Prices'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    month = Column(String(255))
    UScents_perlb = Column(Float)
    indicator = Column(String(255))

class retail_price(Base):
    __tablename__ = 'Import_Country_Retail'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    country = Column(String(255))
    UScents_perlb = Column(Float) 

class coordinate(Base):
    __tablename__ = 'Country_Coordinates'
    id = Column(Integer, primary_key=True)
    country_code = Column(String(10))
    latitude = Column(String(255))
    longitude = Column(String(255))
    country_name = Column(String(255))

In [100]:
dbPath = 'sqlite:///coffee_db.sqlite'
engine = create_engine(dbPath)
Base.metadata.create_all(engine)
s = Session(bind=engine)

In [101]:
trade_objects = []
for index, row in trade_df.iterrows():
    data_row = trade_stats(year=row[0], country=row[1], per1K_60kgbag=row[2], transaction=row[3])
    trade_objects.append(data_row)

s.bulk_save_objects(trade_objects)
s.commit()

In [102]:
priceGrowers_objects = []
for index, row in priceGrowers_df.iterrows():
    data_row = price_growers(year=row[0], country=row[1], UScents_perlb=row[2], coffee_type=row[3])
    priceGrowers_objects.append(data_row)

s.bulk_save_objects(priceGrowers_objects)
s.commit()

In [103]:
totalProd_objects = []
for index, row in totalProd_df.iterrows():
    data_row = total_prod(year=row[0], country=row[1], per1K_60kgbag=row[2], month_group=row[3])
    totalProd_objects.append(data_row)

s.bulk_save_objects(totalProd_objects)
s.commit()

In [104]:
indicator_objects = []
for index, row in indicator_df.iterrows():
    data_row = indicator(year=row[0], month=row[1], UScents_perlb=row[2], indicator=row[3])
    indicator_objects.append(data_row)

s.bulk_save_objects(indicator_objects)
s.commit()

In [105]:
price_objects = []
for index, row in retailPrice_df.iterrows():
    data_row = retail_price(year=row[0], country=row[1], UScents_perlb=row[2])
    price_objects.append(data_row)
    
s.bulk_save_objects(price_objects)
s.commit()

In [106]:
coordinate_objects = []
for index , row in coordinate_df.iterrows():
    data_row = coordinate(country_code=row[0], latitude=row[1], longitude=row[2], country_name=row[3])
    coordinate_objects.append(data_row)
    
s.bulk_save_objects(coordinate_objects)
s.commit()

In [107]:
s.close()