## Import Data
Importing CSVs and converting into <em>Pandas</em> data frames.

### Trade Statistics - Exports

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('resources/tradeStats_exports.csv')

In [3]:
# Transpose row and columns
transposed_df = df.T
transposed_df = transposed_df.rename(index={"Unnamed: 0":""})
transposed_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
,Angola,Bolivia (Plurinational State of),Brazil,Burundi,Cameroon,Central African Republic,Colombia,Congo,Costa Rica,Cote d'Ivoire,...,Thailand,Timor-Leste,Togo,Trinidad & Tobago,Uganda,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
1990,84.35,156.442,16935.7876,584.773,2611.259,196.698,13943.87,1.68,2265.644,4282.866,...,1001.435,0.0,238.838,30.232,2352.68,277.795,1145.234001,50.0,24.36,250.772
1991,70.501,73.523,21182.7614,687.851,1752.179,140.95,12599.185,0.924,2399.64,3804.734001,...,540.937,0.0,154.834,7.671998,2095.093,127.889,1200.952,71.666997,29.198,239.324

In [4]:
# Reset header columns
header_row = ""
transposed_df.columns = transposed_df.loc[header_row]
resetHead_df = transposed_df.drop(header_row)
resetHead_df.index.name = "Year"
resetHead_df.head(3)

,Angola,Bolivia (Plurinational State of),Brazil,Burundi,Cameroon,Central African Republic,Colombia,Congo,Costa Rica,Cote d'Ivoire,...,Thailand,Timor-Leste,Togo,Trinidad & Tobago,Uganda,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1990,84.35,156.442,16935.7876,584.773,2611.259,196.698,13943.87,1.68,2265.644,4282.866,...,1001.435,0.0,238.838,30.232,2352.68,277.795,1145.234001,50.0,24.36,250.772
1991,70.501,73.523,21182.7614,687.851,1752.179,140.95,12599.185,0.924,2399.64,3804.734001,...,540.937,0.0,154.834,7.671998,2095.093,127.889,1200.952,71.666997,29.198,239.324
1992,80.25,96.204,18790.7192,645.858,1645.851,99.975,16564.37,0.336,2431.340001,4546.368,...,1163.776001,0.0,313.177,2.451,1961.034,135.818001,1937.611,36.989002,30.514,162.318

In [5]:
# Fill any Null values with 0
resetHead_df = resetHead_df.fillna(0)

In [6]:
# Change variable name
export_df = resetHead_df

### Trade Statistics - Imports

In [7]:
df = pd.read_csv('resources/tradeStats_imports.csv')

In [8]:
# Transpose row and columns
transposed_df = df.T
transposed_df = transposed_df.rename(index={"Unnamed: 0":""})
transposed_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
,Austria,Belgium,Belgium/Luxembourg,Bulgaria,Croatia,Cyprus,Czechia,Denmark,Estonia,Finland,...,Slovenia,Spain,Sweden,Japan,Norway,Russian Federation,Switzerland,Tunisia,United Kingdom,United States of America
1990,1879.717004,NaN,2014.954017,268.182998,NaN,49.853999,659.433,959.105004,NaN,1095.140998,...,0.0,3053.251001,1766.674003,5329.750004,742.040002,0.0,1170.508002,100.999998,2898.298008,21006.78601
1991,2058.271005,NaN,1746.225019,200.220001,NaN,53.926,525.274,982.757004,NaN,1033.066999,...,0.0,2969.543,1717.087,5510.469001,761.214999,0.0,1130.292002,90.201001,2805.914005,19839.63001

In [9]:
# Reset header columns
header_row = ""
transposed_df.columns = transposed_df.loc[header_row]
resetHead_df = transposed_df.drop(header_row)
resetHead_df.index.name = "Year"
resetHead_df.head(3)

,Austria,Belgium,Belgium/Luxembourg,Bulgaria,Croatia,Cyprus,Czechia,Denmark,Estonia,Finland,...,Slovenia,Spain,Sweden,Japan,Norway,Russian Federation,Switzerland,Tunisia,United Kingdom,United States of America
Year,,,,,,,,,,,,,,,,,,,,,
1990,1879.717004,NaN,2014.954017,268.182998,NaN,49.853999,659.433,959.105004,NaN,1095.140998,...,0.0,3053.251001,1766.674003,5329.750004,742.040002,0.0,1170.508002,100.999998,2898.298008,21006.78601
1991,2058.271005,NaN,1746.225019,200.220001,NaN,53.926,525.274,982.757004,NaN,1033.066999,...,0.0,2969.543,1717.087,5510.469001,761.214999,0.0,1130.292002,90.201001,2805.914005,19839.63001
1992,2206.416005,NaN,1827.85102,182.231012,168.190005,40.875999,474.731003,1061.623004,16.378,1055.361,...,122.875,3414.290003,1771.725002,5325.615998,739.145001,1381.858008,1101.251002,110.583001,3088.172009,22939.03301

In [10]:
# Fill any Null values with 0
resetHead_df = resetHead_df.fillna(0)
resetHead_df.head(3)

,Austria,Belgium,Belgium/Luxembourg,Bulgaria,Croatia,Cyprus,Czechia,Denmark,Estonia,Finland,...,Slovenia,Spain,Sweden,Japan,Norway,Russian Federation,Switzerland,Tunisia,United Kingdom,United States of America
Year,,,,,,,,,,,,,,,,,,,,,
1990,1879.717004,0.0,2014.954017,268.182998,0.000000,49.853999,659.433000,959.105004,0.000,1095.140998,...,0.000,3053.251001,1766.674003,5329.750004,742.040002,0.000000,1170.508002,100.999998,2898.298008,21006.78601
1991,2058.271005,0.0,1746.225019,200.220001,0.000000,53.926000,525.274000,982.757004,0.000,1033.066999,...,0.000,2969.543000,1717.087000,5510.469001,761.214999,0.000000,1130.292002,90.201001,2805.914005,19839.63001
1992,2206.416005,0.0,1827.851020,182.231012,168.190005,40.875999,474.731003,1061.623004,16.378,1055.361000,...,122.875,3414.290003,1771.725002,5325.615998,739.145001,1381.858008,1101.251002,110.583001,3088.172009,22939.03301

In [11]:
# Change variable name
import_df = resetHead_df

### Price to Growers - Colombian Milds

In [263]:
# Read CSV
df = pd.read_csv('resources/priceGrowers_colombianMilds.csv')
df

,Unnamed: 0,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Colombia,69.5230,67.1251,54.5709,50.1234,85.9942,99.6231,93.5556,133.1672,102.0805,...,180.5484,239.6763,166.6921,113.9086,159.7125,119.4042,123.5571,125.7612,113.5179,108.6836
1,Kenya,60.5721,50.6778,28.9495,47.6419,152.6058,140.1651,110.0360,183.9967,179.8972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tanzania,40.8183,49.5039,49.1581,38.2833,62.1553,86.7599,62.5345,118.5236,90.7025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])
    
country_list

['Colombia', 'Kenya', 'Tanzania']

In [259]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [260]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    big_list.append(year_list)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
    
    big_list.append(list1)
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    big_list.append(small_list)

In [261]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [264]:
# Concat dataframes for normalized (1NF) data structure
colombianMild_df = pd.concat(final_list).reset_index(drop = True)
colombianMild_df[''] = "Colombian Milds"
colombianMild_df.head(40)

       0         1         2
0   1990  Colombia    69.523  Colombian Milds
1   1991  Colombia   67.1251  Colombian Milds
2   1992  Colombia   54.5709  Colombian Milds
3   1993  Colombia   50.1234  Colombian Milds
4   1994  Colombia   85.9942  Colombian Milds
5   1995  Colombia   99.6231  Colombian Milds
6   1996  Colombia   93.5556  Colombian Milds
7   1997  Colombia  133.1672  Colombian Milds
8   1998  Colombia  102.0805  Colombian Milds
9   1999  Colombia   86.3828  Colombian Milds
10  2000  Colombia   74.9587  Colombian Milds
11  2001  Colombia   57.9505  Colombian Milds
12  2002  Colombia   52.5669  Colombian Milds
13  2003  Colombia    48.343  Colombian Milds
14  2004  Colombia   60.8325  Colombian Milds
15  2005  Colombia   89.2214  Colombian Milds
16  2006  Colombia   89.8083  Colombian Milds
17  2007  Colombia  100.0535  Colombian Milds
18  2008  Colombia  114.2209  Colombian Milds
19  2009  Colombia  138.9551  Colombian Milds
20  2010  Colombia  180.5484  Colombian Milds
21  2011  Colombia  239.6763  Colombian Milds
22  2012  Colombia  166.6921  Colombian Milds
23  2013  Colombia  113.9086  Colombian Milds
24  2014  Colombia  159.7125  Colombian Milds
25  2015  Colombia  119.4042  Colombian Milds
26  2016  Colombia  123.5571  Colombian Milds
27  2017  Colombia  125.7612  Colombian Milds
28  2018  Colombia  113.5179  Colombian Milds
29  2019  Colombia  108.6836  Colombian Milds
30  1990     Kenya   60.5721  Colombian Milds
31  1991     Kenya   50.6778  Colombian Milds
32  1992     Kenya   28.9495  Colombian Milds
33  1993     Kenya   47.6419  Colombian Milds
34  1994     Kenya  152.6058  Colombian Milds
35  1995     Kenya  140.1651  Colombian Milds
36  1996     Kenya   110.036  Colombian Milds
37  1997     Kenya  183.9967  Colombian Milds
38  1998     Kenya  179.8972  Colombian Milds
39  1999     Kenya  105.1914  Colombian Milds

### Price to Growers - Other Milds

In [266]:
df = pd.read_csv('resources/priceGrowers_otherMilds.csv')

In [267]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])
    
country_list

['Bolivia (Plurinational State of)',
 'Burundi',
 'Cameroon',
 'Costa Rica',
 'Cuba',
 'Democratic Republic of Congo',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Haiti',
 'Honduras',
 'India',
 'Jamaica',
 'Madagascar',
 'Malawi',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Papa New Guinea',
 'Peru',
 'Rwanda',
 'Sri Lanka',
 'Uganda',
 'Venezuela',
 'Zambia',
 'Zimbabwe']

In [269]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,51.7802,52.4230,43.5276,27.3283,79.9150,76.9867,57.1799,100.0689,131.0938,98.7076,...,NaN,NaN,225.6445,201.9723,239.2465,234.7937,271.7944,471.6169,455.1460,858.2941
1,58.0195,55.0206,59.2340,58.2708,60.6823,56.6854,51.9721,52.7855,52.2187,46.5697,...,85.6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32.2852,28.2347,28.7593,23.2510,88.3161,85.2593,80.9459,43.6415,66.8331,88.4110,...,NaN,NaN,NaN,82.8733,NaN,NaN,NaN,NaN,70.7864,70.8467
3,58.4893,52.7258,49.9093,54.2666,81.3628,88.2256,92.7809,98.2583,92.6592,79.5496,...,139.8577,180.2225,160.7291,124.6527,130.7748,145.8383,129.1077,138.0947,NaN,NaN
4,171.4282,171.4282,179.9996,188.5711,203.5302,188.6010,188.5711,188.5711,188.5711,188.5711,...,70.7141,70.7141,70.7141,221.9638,235.7138,235.7138,235.7138,235.7138,NaN,NaN

In [270]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    big_list.append(year_list)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
    
    big_list.append(list1)
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    big_list.append(small_list)

In [271]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [272]:
# Concat dataframes for normalized (1NF) data structure
otherMild_df = pd.concat(final_list).reset_index(drop = True)
otherMild_df[''] = "Other Milds"
otherMild_df.head(40)

       0                                 1         2
0   1990  Bolivia (Plurinational State of)   51.7802  Other Milds
1   1991  Bolivia (Plurinational State of)    52.423  Other Milds
2   1992  Bolivia (Plurinational State of)   43.5276  Other Milds
3   1993  Bolivia (Plurinational State of)   27.3283  Other Milds
4   1994  Bolivia (Plurinational State of)    79.915  Other Milds
5   1995  Bolivia (Plurinational State of)   76.9867  Other Milds
6   1996  Bolivia (Plurinational State of)   57.1799  Other Milds
7   1997  Bolivia (Plurinational State of)  100.0689  Other Milds
8   1998  Bolivia (Plurinational State of)  131.0938  Other Milds
9   1999  Bolivia (Plurinational State of)   98.7076  Other Milds
10  2000  Bolivia (Plurinational State of)   78.0529  Other Milds
11  2001  Bolivia (Plurinational State of)       NaN  Other Milds
12  2002  Bolivia (Plurinational State of)       NaN  Other Milds
13  2003  Bolivia (Plurinational State of)       NaN  Other Milds
14  2004  Bolivia (Plurinational State of)       NaN  Other Milds
15  2005  Bolivia (Plurinational State of)       NaN  Other Milds
16  2006  Bolivia (Plurinational State of)       NaN  Other Milds
17  2007  Bolivia (Plurinational State of)       NaN  Other Milds
18  2008  Bolivia (Plurinational State of)       NaN  Other Milds
19  2009  Bolivia (Plurinational State of)       NaN  Other Milds
20  2010  Bolivia (Plurinational State of)       NaN  Other Milds
21  2011  Bolivia (Plurinational State of)       NaN  Other Milds
22  2012  Bolivia (Plurinational State of)  225.6445  Other Milds
23  2013  Bolivia (Plurinational State of)  201.9723  Other Milds
24  2014  Bolivia (Plurinational State of)  239.2465  Other Milds
25  2015  Bolivia (Plurinational State of)  234.7937  Other Milds
26  2016  Bolivia (Plurinational State of)  271.7944  Other Milds
27  2017  Bolivia (Plurinational State of)  471.6169  Other Milds
28  2018  Bolivia (Plurinational State of)   455.146  Other Milds
29  2019  Bolivia (Plurinational State of)  858.2941  Other Milds
30  1990                           Burundi   58.0195  Other Milds
31  1991                           Burundi   55.0206  Other Milds
32  1992                           Burundi    59.234  Other Milds
33  1993                           Burundi   58.2708  Other Milds
34  1994                           Burundi   60.6823  Other Milds
35  1995                           Burundi   56.6854  Other Milds
36  1996                           Burundi   51.9721  Other Milds
37  1997                           Burundi   52.7855  Other Milds
38  1998                           Burundi   52.2187  Other Milds
39  1999                           Burundi   46.5697  Other Milds

### Price to Growers - Brazilian Naturals

In [273]:
df = pd.read_csv('resources/priceGrowers_brazilianNaturals.csv')

In [274]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])
    
country_list

['Angola',
 'Brazil',
 'Ethiopia',
 'Indonesia',
 'Phillippines',
 'Thailand',
 'Vietnam']

In [275]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,57.0161,37.6447,54.6078,45.8120,100.4557,159.4754,120.5216,NaN
1,54.3248,43.9931,45.1989,52.8770,114.5687,115.5228,96.3456,145.4095,105.2491,74.0666,...,133.9954,224.2600,152.2879,102.1379,134.6969,104.4866,107.8306,110.4757,90.7803,81.4830
2,61.0900,68.1911,61.2061,61.7186,109.5460,115.0172,67.7365,91.0557,91.8639,65.6448,...,85.4598,145.4623,102.7897,73.3004,83.2356,76.0297,87.3074,81.5073,70.6786,69.3104
3,NaN,NaN,NaN,115.5349,173.5073,NaN,NaN,112.2585,99.4085,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,55.7355,54.1985,99.6167,106.3010,76.3125,79.7375,81.8728,64.8877,...,NaN,NaN,262.0105,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    big_list.append(year_list)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
    
    big_list.append(list1)
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    big_list.append(small_list)

In [277]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [278]:
# Concat dataframes for normalized (1NF) data structure
brazilianNaturals_df = pd.concat(final_list).reset_index(drop = True)
brazilianNaturals_df[''] = "Brazilian Naturals"
brazilianNaturals_df.head(40)

       0       1         2
0   1990  Angola       NaN  Brazilian Naturals
1   1991  Angola       NaN  Brazilian Naturals
2   1992  Angola       NaN  Brazilian Naturals
3   1993  Angola       NaN  Brazilian Naturals
4   1994  Angola       NaN  Brazilian Naturals
5   1995  Angola       NaN  Brazilian Naturals
6   1996  Angola       NaN  Brazilian Naturals
7   1997  Angola       NaN  Brazilian Naturals
8   1998  Angola       NaN  Brazilian Naturals
9   1999  Angola       NaN  Brazilian Naturals
10  2000  Angola       NaN  Brazilian Naturals
11  2001  Angola       NaN  Brazilian Naturals
12  2002  Angola       NaN  Brazilian Naturals
13  2003  Angola       NaN  Brazilian Naturals
14  2004  Angola       NaN  Brazilian Naturals
15  2005  Angola       NaN  Brazilian Naturals
16  2006  Angola       NaN  Brazilian Naturals
17  2007  Angola       NaN  Brazilian Naturals
18  2008  Angola       NaN  Brazilian Naturals
19  2009  Angola       NaN  Brazilian Naturals
20  2010  Angola       NaN  Brazilian Naturals
21  2011  Angola       NaN  Brazilian Naturals
22  2012  Angola   57.0161  Brazilian Naturals
23  2013  Angola   37.6447  Brazilian Naturals
24  2014  Angola   54.6078  Brazilian Naturals
25  2015  Angola    45.812  Brazilian Naturals
26  2016  Angola  100.4557  Brazilian Naturals
27  2017  Angola  159.4754  Brazilian Naturals
28  2018  Angola  120.5216  Brazilian Naturals
29  2019  Angola       NaN  Brazilian Naturals
30  1990  Brazil   54.3248  Brazilian Naturals
31  1991  Brazil   43.9931  Brazilian Naturals
32  1992  Brazil   45.1989  Brazilian Naturals
33  1993  Brazil    52.877  Brazilian Naturals
34  1994  Brazil  114.5687  Brazilian Naturals
35  1995  Brazil  115.5228  Brazilian Naturals
36  1996  Brazil   96.3456  Brazilian Naturals
37  1997  Brazil  145.4095  Brazilian Naturals
38  1998  Brazil  105.2491  Brazilian Naturals
39  1999  Brazil   74.0666  Brazilian Naturals

### Price to Growers - Robustas

In [279]:
df = pd.read_csv('resources/priceGrowers_robustas.csv')

In [280]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])
    
country_list

['Angola',
 'Benin',
 'Brazil',
 'Burundi',
 'Cameroon',
 'Central African Republic',
 'Congo',
 "Cote d'Ivoire",
 'Democratic Republic of Congo',
 'Ecuador',
 'Gabon',
 'Ghana',
 'Guinea',
 'India',
 'Indonesia',
 'Liberia',
 'Madagascar',
 'Nigeria',
 'Papua New Guinea',
 'Phillippines',
 'Sierra Leone',
 'Sri Lanka',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad & Tobago',
 'Uganda ',
 'Vietnam']

In [281]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,85.6569,91.1153,44.9183,11.8708,NaN,NaN,NaN,NaN,NaN,NaN,...,44.3889,48.2936,47.5127,31.3706,46.1520,38.1767,78.3331,132.1367,100.4347,NaN
1,53.7609,22.8961,24.0067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34.8486,27.4947,27.5947,35.5441,85.4261,97.4999,69.7791,77.8558,77.7473,56.9266,...,74.2175,105.2938,104.4046,85.2862,81.1637,73.5269,92.7777,98.2114,67.4212,56.4532
3,NaN,NaN,47.1618,41.8018,41.4499,42.3356,40.4503,40.1863,35.3567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28.3337,25.0078,24.2466,17.3955,29.8547,52.0795,51.0193,38.9016,36.4619,31.3028,...,NaN,NaN,NaN,66.4339,NaN,NaN,NaN,NaN,45.2247,45.2632

In [282]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    big_list.append(year_list)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
    
    big_list.append(list1)
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    big_list.append(small_list)

In [283]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [284]:
# Concat dataframes for normalized (1NF) data structure
robustas_df = pd.concat(final_list).reset_index(drop = True)
robustas_df[''] = "Robustas"
robustas_df.head(40)

       0       1         2
0   1990  Angola   85.6569  Robustas
1   1991  Angola   91.1153  Robustas
2   1992  Angola   44.9183  Robustas
3   1993  Angola   11.8708  Robustas
4   1994  Angola       NaN  Robustas
5   1995  Angola       NaN  Robustas
6   1996  Angola       NaN  Robustas
7   1997  Angola       NaN  Robustas
8   1998  Angola       NaN  Robustas
9   1999  Angola       NaN  Robustas
10  2000  Angola   51.7415  Robustas
11  2001  Angola   18.6135  Robustas
12  2002  Angola   10.7112  Robustas
13  2003  Angola    6.6089  Robustas
14  2004  Angola     9.923  Robustas
15  2005  Angola   10.4187  Robustas
16  2006  Angola   12.9824  Robustas
17  2007  Angola   36.0524  Robustas
18  2008  Angola   42.3165  Robustas
19  2009  Angola   40.1402  Robustas
20  2010  Angola   44.3889  Robustas
21  2011  Angola   48.2936  Robustas
22  2012  Angola   47.5127  Robustas
23  2013  Angola   31.3706  Robustas
24  2014  Angola    46.152  Robustas
25  2015  Angola   38.1767  Robustas
26  2016  Angola   78.3331  Robustas
27  2017  Angola  132.1367  Robustas
28  2018  Angola  100.4347  Robustas
29  2019  Angola       NaN  Robustas
30  1990   Benin   53.7609  Robustas
31  1991   Benin   22.8961  Robustas
32  1992   Benin   24.0067  Robustas
33  1993   Benin       NaN  Robustas
34  1994   Benin       NaN  Robustas
35  1995   Benin       NaN  Robustas
36  1996   Benin       NaN  Robustas
37  1997   Benin       NaN  Robustas
38  1998   Benin       NaN  Robustas
39  1999   Benin       NaN  Robustas

## Create SQLite database
Use the data frames to create a <em>SQLite</em> database

In [32]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer,Float, String, create_engine
from sqlalchemy.orm import Session

In [ ]:
# Create classes for each database table
Base = declarative_base()

class export(Base):
    year = Column(Integer, primary_key = True)