## Import Data
Importing CSVs and converting into <em>Pandas</em> data frames.

### Trade Statistics - Exports

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('resources/tradeStats_exports.csv')

In [3]:
# Transpose row and columns
transposed_df = df.T
transposed_df = transposed_df.rename(index={"Unnamed: 0":""})
transposed_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
,Angola,Bolivia (Plurinational State of),Brazil,Burundi,Cameroon,Central African Republic,Colombia,Congo,Costa Rica,Cote d'Ivoire,...,Thailand,Timor-Leste,Togo,Trinidad & Tobago,Uganda,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
1990,84.35,156.442,16935.7876,584.773,2611.259,196.698,13943.87,1.68,2265.644,4282.866,...,1001.435,0.0,238.838,30.232,2352.68,277.795,1145.234001,50.0,24.36,250.772
1991,70.501,73.523,21182.7614,687.851,1752.179,140.95,12599.185,0.924,2399.64,3804.734001,...,540.937,0.0,154.834,7.671998,2095.093,127.889,1200.952,71.666997,29.198,239.324

In [4]:
# Reset header columns
header_row = ""
transposed_df.columns = transposed_df.loc[header_row]
resetHead_df = transposed_df.drop(header_row)
resetHead_df.index.name = "Year"
resetHead_df.head(3)

,Angola,Bolivia (Plurinational State of),Brazil,Burundi,Cameroon,Central African Republic,Colombia,Congo,Costa Rica,Cote d'Ivoire,...,Thailand,Timor-Leste,Togo,Trinidad & Tobago,Uganda,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1990,84.35,156.442,16935.7876,584.773,2611.259,196.698,13943.87,1.68,2265.644,4282.866,...,1001.435,0.0,238.838,30.232,2352.68,277.795,1145.234001,50.0,24.36,250.772
1991,70.501,73.523,21182.7614,687.851,1752.179,140.95,12599.185,0.924,2399.64,3804.734001,...,540.937,0.0,154.834,7.671998,2095.093,127.889,1200.952,71.666997,29.198,239.324
1992,80.25,96.204,18790.7192,645.858,1645.851,99.975,16564.37,0.336,2431.340001,4546.368,...,1163.776001,0.0,313.177,2.451,1961.034,135.818001,1937.611,36.989002,30.514,162.318

In [5]:
# Fill any Null values with 0
resetHead_df = resetHead_df.fillna(0)

In [6]:
# Change variable name
export_df = resetHead_df

### Trade Statistics - Imports

In [7]:
df = pd.read_csv('resources/tradeStats_imports.csv')

In [8]:
# Transpose row and columns
transposed_df = df.T
transposed_df = transposed_df.rename(index={"Unnamed: 0":""})
transposed_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
,Austria,Belgium,Belgium/Luxembourg,Bulgaria,Croatia,Cyprus,Czechia,Denmark,Estonia,Finland,...,Slovenia,Spain,Sweden,Japan,Norway,Russian Federation,Switzerland,Tunisia,United Kingdom,United States of America
1990,1879.717004,NaN,2014.954017,268.182998,NaN,49.853999,659.433,959.105004,NaN,1095.140998,...,0.0,3053.251001,1766.674003,5329.750004,742.040002,0.0,1170.508002,100.999998,2898.298008,21006.78601
1991,2058.271005,NaN,1746.225019,200.220001,NaN,53.926,525.274,982.757004,NaN,1033.066999,...,0.0,2969.543,1717.087,5510.469001,761.214999,0.0,1130.292002,90.201001,2805.914005,19839.63001

In [9]:
# Reset header columns
header_row = ""
transposed_df.columns = transposed_df.loc[header_row]
resetHead_df = transposed_df.drop(header_row)
resetHead_df.index.name = "Year"
resetHead_df.head(3)

,Austria,Belgium,Belgium/Luxembourg,Bulgaria,Croatia,Cyprus,Czechia,Denmark,Estonia,Finland,...,Slovenia,Spain,Sweden,Japan,Norway,Russian Federation,Switzerland,Tunisia,United Kingdom,United States of America
Year,,,,,,,,,,,,,,,,,,,,,
1990,1879.717004,NaN,2014.954017,268.182998,NaN,49.853999,659.433,959.105004,NaN,1095.140998,...,0.0,3053.251001,1766.674003,5329.750004,742.040002,0.0,1170.508002,100.999998,2898.298008,21006.78601
1991,2058.271005,NaN,1746.225019,200.220001,NaN,53.926,525.274,982.757004,NaN,1033.066999,...,0.0,2969.543,1717.087,5510.469001,761.214999,0.0,1130.292002,90.201001,2805.914005,19839.63001
1992,2206.416005,NaN,1827.85102,182.231012,168.190005,40.875999,474.731003,1061.623004,16.378,1055.361,...,122.875,3414.290003,1771.725002,5325.615998,739.145001,1381.858008,1101.251002,110.583001,3088.172009,22939.03301

In [10]:
# Fill any Null values with 0
resetHead_df = resetHead_df.fillna(0)
resetHead_df.head(3)

,Austria,Belgium,Belgium/Luxembourg,Bulgaria,Croatia,Cyprus,Czechia,Denmark,Estonia,Finland,...,Slovenia,Spain,Sweden,Japan,Norway,Russian Federation,Switzerland,Tunisia,United Kingdom,United States of America
Year,,,,,,,,,,,,,,,,,,,,,
1990,1879.717004,0.0,2014.954017,268.182998,0.000000,49.853999,659.433000,959.105004,0.000,1095.140998,...,0.000,3053.251001,1766.674003,5329.750004,742.040002,0.000000,1170.508002,100.999998,2898.298008,21006.78601
1991,2058.271005,0.0,1746.225019,200.220001,0.000000,53.926000,525.274000,982.757004,0.000,1033.066999,...,0.000,2969.543000,1717.087000,5510.469001,761.214999,0.000000,1130.292002,90.201001,2805.914005,19839.63001
1992,2206.416005,0.0,1827.851020,182.231012,168.190005,40.875999,474.731003,1061.623004,16.378,1055.361000,...,122.875,3414.290003,1771.725002,5325.615998,739.145001,1381.858008,1101.251002,110.583001,3088.172009,22939.03301

In [11]:
# Change variable name
import_df = resetHead_df

### Price to Growers - Colombian Milds

In [263]:
# Read CSV
df = pd.read_csv('resources/priceGrowers_colombianMilds.csv')
df

,Unnamed: 0,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Colombia,69.5230,67.1251,54.5709,50.1234,85.9942,99.6231,93.5556,133.1672,102.0805,...,180.5484,239.6763,166.6921,113.9086,159.7125,119.4042,123.5571,125.7612,113.5179,108.6836
1,Kenya,60.5721,50.6778,28.9495,47.6419,152.6058,140.1651,110.0360,183.9967,179.8972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tanzania,40.8183,49.5039,49.1581,38.2833,62.1553,86.7599,62.5345,118.5236,90.7025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])
    
country_list

['Colombia', 'Kenya', 'Tanzania']

In [259]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [260]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    big_list.append(year_list)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
    
    big_list.append(list1)
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    big_list.append(small_list)

In [261]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [264]:
# Concat dataframes for normalized (1NF) data structure
colombianMild_df = pd.concat(final_list).reset_index(drop = True)
colombianMild_df[''] = "Colombian Milds"
colombianMild_df.head(40)

       0         1         2
0   1990  Colombia    69.523  Colombian Milds
1   1991  Colombia   67.1251  Colombian Milds
2   1992  Colombia   54.5709  Colombian Milds
3   1993  Colombia   50.1234  Colombian Milds
4   1994  Colombia   85.9942  Colombian Milds
5   1995  Colombia   99.6231  Colombian Milds
6   1996  Colombia   93.5556  Colombian Milds
7   1997  Colombia  133.1672  Colombian Milds
8   1998  Colombia  102.0805  Colombian Milds
9   1999  Colombia   86.3828  Colombian Milds
10  2000  Colombia   74.9587  Colombian Milds
11  2001  Colombia   57.9505  Colombian Milds
12  2002  Colombia   52.5669  Colombian Milds
13  2003  Colombia    48.343  Colombian Milds
14  2004  Colombia   60.8325  Colombian Milds
15  2005  Colombia   89.2214  Colombian Milds
16  2006  Colombia   89.8083  Colombian Milds
17  2007  Colombia  100.0535  Colombian Milds
18  2008  Colombia  114.2209  Colombian Milds
19  2009  Colombia  138.9551  Colombian Milds
20  2010  Colombia  180.5484  Colombian Milds
21  2011  Colombia  239.6763  Colombian Milds
22  2012  Colombia  166.6921  Colombian Milds
23  2013  Colombia  113.9086  Colombian Milds
24  2014  Colombia  159.7125  Colombian Milds
25  2015  Colombia  119.4042  Colombian Milds
26  2016  Colombia  123.5571  Colombian Milds
27  2017  Colombia  125.7612  Colombian Milds
28  2018  Colombia  113.5179  Colombian Milds
29  2019  Colombia  108.6836  Colombian Milds
30  1990     Kenya   60.5721  Colombian Milds
31  1991     Kenya   50.6778  Colombian Milds
32  1992     Kenya   28.9495  Colombian Milds
33  1993     Kenya   47.6419  Colombian Milds
34  1994     Kenya  152.6058  Colombian Milds
35  1995     Kenya  140.1651  Colombian Milds
36  1996     Kenya   110.036  Colombian Milds
37  1997     Kenya  183.9967  Colombian Milds
38  1998     Kenya  179.8972  Colombian Milds
39  1999     Kenya  105.1914  Colombian Milds

### Price to Growers - Other Milds

In [17]:
df = pd.read_csv('resources/priceGrowers_otherMilds.csv')

In [18]:
# Transpose row and columns
transposed_df = df.T
transposed_df = transposed_df.rename(index={"Unnamed: 0":""})
transposed_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
,Bolivia (Plurinational State of),Burundi,Cameroon,Costa Rica,Cuba,Democratic Republic of Congo,Dominican Republic,Ecuador,El Salvador,Guatemala,...,Nicaragua,Panama,Papa New Guinea,Peru,Rwanda,Sri Lanka,Uganda,Venezuela,Zambia,Zimbabwe
1990,51.7802,58.0195,32.2852,58.4893,171.4282,NaN,66.055,35.2113,50.5636,54.5845,...,NaN,49.304,65.5004,90.3729,74.2047,NaN,15.2932,NaN,89.7541,NaN
1991,52.423,55.0206,28.2347,52.7258,171.4282,NaN,62.6429,36.1803,44.5445,57.5349,...,44.137,47.2497,64.5333,NaN,50.3764,NaN,29.6408,NaN,70.3159,NaN

In [19]:
# Reset header columns
header_row = ""
transposed_df.columns = transposed_df.loc[header_row]
resetHead_df = transposed_df.drop(header_row)
resetHead_df.index.name = "Year"
resetHead_df.head(3)

,Bolivia (Plurinational State of),Burundi,Cameroon,Costa Rica,Cuba,Democratic Republic of Congo,Dominican Republic,Ecuador,El Salvador,Guatemala,...,Nicaragua,Panama,Papa New Guinea,Peru,Rwanda,Sri Lanka,Uganda,Venezuela,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1990,51.7802,58.0195,32.2852,58.4893,171.4282,NaN,66.055,35.2113,50.5636,54.5845,...,NaN,49.304,65.5004,90.3729,74.2047,NaN,15.2932,NaN,89.7541,NaN
1991,52.423,55.0206,28.2347,52.7258,171.4282,NaN,62.6429,36.1803,44.5445,57.5349,...,44.137,47.2497,64.5333,NaN,50.3764,NaN,29.6408,NaN,70.3159,NaN
1992,43.5276,59.234,28.7593,49.9093,179.9996,NaN,46.5612,29.0799,30.9092,40.2309,...,44.137,44.3736,57.9582,31.9698,48.9068,NaN,19.9953,NaN,34.9584,NaN

In [20]:
# Fill any Null values with 0
resetHead_df = resetHead_df.fillna(0)
resetHead_df.head(3)

,Bolivia (Plurinational State of),Burundi,Cameroon,Costa Rica,Cuba,Democratic Republic of Congo,Dominican Republic,Ecuador,El Salvador,Guatemala,...,Nicaragua,Panama,Papa New Guinea,Peru,Rwanda,Sri Lanka,Uganda,Venezuela,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1990,51.7802,58.0195,32.2852,58.4893,171.4282,0.0,66.0550,35.2113,50.5636,54.5845,...,0.000,49.3040,65.5004,90.3729,74.2047,0.0,15.2932,0,89.7541,0
1991,52.4230,55.0206,28.2347,52.7258,171.4282,0.0,62.6429,36.1803,44.5445,57.5349,...,44.137,47.2497,64.5333,0.0000,50.3764,0.0,29.6408,0,70.3159,0
1992,43.5276,59.2340,28.7593,49.9093,179.9996,0.0,46.5612,29.0799,30.9092,40.2309,...,44.137,44.3736,57.9582,31.9698,48.9068,0.0,19.9953,0,34.9584,0

In [21]:
# Change variable name
pg_OtherMilds_df = resetHead_df

### Price to Growers - Brazilian Naturals

In [22]:
df = pd.read_csv('resources/priceGrowers_brazilianNaturals.csv')

In [23]:
# Transpose row and columns
transposed_df = df.T
transposed_df = transposed_df.rename(index={"Unnamed: 0":""})
transposed_df.head(3)

           0        1         2          3             4         5        6
      Angola   Brazil  Ethiopia  Indonesia  Phillippines  Thailand  Vietnam
1990     NaN  54.3248     61.09        NaN           NaN       NaN      NaN
1991     NaN  43.9931   68.1911        NaN           NaN       NaN      NaN

In [24]:
# Reset header columns
header_row = ""
transposed_df.columns = transposed_df.loc[header_row]
resetHead_df = transposed_df.drop(header_row)
resetHead_df.index.name = "Year"
resetHead_df.head(3)

     Angola   Brazil Ethiopia Indonesia Phillippines Thailand Vietnam
Year
1990    NaN  54.3248    61.09       NaN          NaN      NaN     NaN
1991    NaN  43.9931  68.1911       NaN          NaN      NaN     NaN
1992    NaN  45.1989  61.2061       NaN      55.7355      NaN     NaN

In [25]:
# Fill any Null values with 0
resetHead_df = resetHead_df.fillna(0)
resetHead_df.head(3)

      Angola   Brazil  Ethiopia  Indonesia  Phillippines  Thailand  Vietnam
Year
1990     0.0  54.3248   61.0900        0.0        0.0000       0.0      0.0
1991     0.0  43.9931   68.1911        0.0        0.0000       0.0      0.0
1992     0.0  45.1989   61.2061        0.0       55.7355       0.0      0.0

In [26]:
# Change variable name
pg_BrazilianNaturals_df = resetHead_df

### Price to Growers - Robustas

In [27]:
df = pd.read_csv('resources/priceGrowers_robustas.csv')

In [28]:
# Transpose row and columns
transposed_df = df.T
transposed_df = transposed_df.rename(index={"Unnamed: 0":""})
transposed_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
,Angola,Benin,Brazil,Burundi,Cameroon,Central African Republic,Congo,Cote d'Ivoire,Democratic Republic of Congo,Ecuador,...,Papua New Guinea,Phillippines,Sierra Leone,Sri Lanka,Tanzania,Thailand,Togo,Trinidad & Tobago,Uganda,Vietnam
1990,85.6569,53.7609,34.8486,NaN,28.3337,36.7471,19.2087,33.4064,4.5201,19.0602,...,26.5984,34.2253,26.1686,26.8959,17.007,37.7181,29.2306,62.5882,7.5418,36.9183
1991,91.1153,22.8961,27.4947,NaN,25.0078,36.6398,18.5542,32.2682,NaN,17.8351,...,29.4778,34.6061,NaN,25.2906,17.1071,18.3728,28.6435,62.5882,11.8428,30.7256

In [29]:
# Reset header columns
header_row = ""
transposed_df.columns = transposed_df.loc[header_row]
resetHead_df = transposed_df.drop(header_row)
resetHead_df.index.name = "Year"
resetHead_df.head(3)

,Angola,Benin,Brazil,Burundi,Cameroon,Central African Republic,Congo,Cote d'Ivoire,Democratic Republic of Congo,Ecuador,...,Papua New Guinea,Phillippines,Sierra Leone,Sri Lanka,Tanzania,Thailand,Togo,Trinidad & Tobago,Uganda,Vietnam
Year,,,,,,,,,,,,,,,,,,,,,
1990,85.6569,53.7609,34.8486,NaN,28.3337,36.7471,19.2087,33.4064,4.5201,19.0602,...,26.5984,34.2253,26.1686,26.8959,17.007,37.7181,29.2306,62.5882,7.5418,36.9183
1991,91.1153,22.8961,27.4947,NaN,25.0078,36.6398,18.5542,32.2682,NaN,17.8351,...,29.4778,34.6061,NaN,25.2906,17.1071,18.3728,28.6435,62.5882,11.8428,30.7256
1992,44.9183,24.0067,27.5947,47.1618,24.2466,33.9318,19.7491,31.7589,NaN,23.307,...,39.1005,42.4765,NaN,31.8496,14.8403,20.3048,29.8298,69.2941,8.9537,30.707

In [30]:
# Fill any Null values with 0
resetHead_df = resetHead_df.fillna(0)
resetHead_df.head(3)

,Angola,Benin,Brazil,Burundi,Cameroon,Central African Republic,Congo,Cote d'Ivoire,Democratic Republic of Congo,Ecuador,...,Papua New Guinea,Phillippines,Sierra Leone,Sri Lanka,Tanzania,Thailand,Togo,Trinidad & Tobago,Uganda,Vietnam
Year,,,,,,,,,,,,,,,,,,,,,
1990,85.6569,53.7609,34.8486,0.0000,28.3337,36.7471,19.2087,33.4064,4.5201,19.0602,...,26.5984,34.2253,26.1686,26.8959,17.0070,37.7181,29.2306,62.5882,7.5418,36.9183
1991,91.1153,22.8961,27.4947,0.0000,25.0078,36.6398,18.5542,32.2682,0.0000,17.8351,...,29.4778,34.6061,0.0000,25.2906,17.1071,18.3728,28.6435,62.5882,11.8428,30.7256
1992,44.9183,24.0067,27.5947,47.1618,24.2466,33.9318,19.7491,31.7589,0.0000,23.3070,...,39.1005,42.4765,0.0000,31.8496,14.8403,20.3048,29.8298,69.2941,8.9537,30.7070

In [33]:
# Change variable name
pg_Robustas_df = resetHead_df 
pg_Robustas_df

,Angola,Benin,Brazil,Burundi,Cameroon,Central African Republic,Congo,Cote d'Ivoire,Democratic Republic of Congo,Ecuador,...,Papua New Guinea,Phillippines,Sierra Leone,Sri Lanka,Tanzania,Thailand,Togo,Trinidad & Tobago,Uganda,Vietnam
Year,,,,,,,,,,,,,,,,,,,,,
1990,85.6569,53.7609,34.8486,0.0000,28.3337,36.7471,19.2087,33.4064,4.5201,19.0602,...,26.5984,34.2253,26.1686,26.8959,17.0070,37.7181,29.2306,62.5882,7.5418,36.9183
1991,91.1153,22.8961,27.4947,0.0000,25.0078,36.6398,18.5542,32.2682,0.0000,17.8351,...,29.4778,34.6061,0.0000,25.2906,17.1071,18.3728,28.6435,62.5882,11.8428,30.7256
1992,44.9183,24.0067,27.5947,47.1618,24.2466,33.9318,19.7491,31.7589,0.0000,23.3070,...,39.1005,42.4765,0.0000,31.8496,14.8403,20.3048,29.8298,69.2941,8.9537,30.7070
1993,11.8708,0.0000,35.5441,41.8018,17.3955,23.8924,18.4404,27.6964,0.0000,19.5204,...,54.8047,46.4492,0.0000,28.8866,11.8801,18.2894,22.6435,72.1989,11.7661,34.5296
1994,0.0000,0.0000,85.4261,41.4499,29.8547,32.7420,8.7749,29.7788,0.0000,63.2941,...,95.6374,94.6608,0.0000,71.9905,24.0035,18.7899,25.9924,64.1384,41.6628,86.0079
1995,0.0000,0.0000,97.4999,42.3356,52.0795,57.1888,27.2813,59.4027,28.3495,143.6162,...,66.3073,104.3144,0.0000,93.2376,44.6094,36.8393,61.4095,63.8905,59.7927,95.1844
1996,0.0000,0.0000,69.7791,40.4503,51.0193,45.0685,14.1896,57.6963,32.8854,97.5143,...,63.7485,68.9094,0.0000,0.0000,32.2006,43.3532,62.5798,63.2496,37.4363,57.4154
1997,0.0000,0.0000,77.8558,40.1863,38.9016,38.3562,0.0000,39.2871,45.3592,61.1930,...,75.4338,72.9149,0.0000,0.0000,92.4844,21.8500,44.8863,60.6263,41.6871,56.1426
1998,0.0000,0.0000,77.7473,35.3567,36.4619,37.8613,0.0000,40.1367,44.2760,66.6301,...,59.1507,76.6635,0.0000,0.0000,28.1884,27.3262,49.9303,60.2943,40.0205,65.8694
1999,0.0000,0.0000,56.9266,0.0000,31.3028,29.7146,0.0000,38.8128,88.1768,47.4832,...,37.6982,60.1365,0.0000,0.0000,23.5151,31.3084,43.2215,79.2287,31.5157,50.6962
2000,51.7415,0.0000,41.5274,0.0000,30.4387,18.2801,0.0000,23.8537,45.0420,32.6960,...,21.8897,34.1959,0.0000,0.0000,15.2928,12.3524,22.9164,0.0000,19.9233,26.5528
2001,18.6135,0.0000,19.3547,0.0000,21.1299,13.2225,0.0000,0.0000,7.9507,11.2578,...,12.0047,23.6346,0.0000,0.0000,5.2086,12.7470,15.3167,0.0000,10.5687,15.1186
2002,10.7112,0.0000,19.9937,0.0000,16.0534,11.9420,0.0000,8.9585,2.9573,11.9973,...,13.3144,21.4548,0.0000,0.0000,4.2981,6.4439,18.2661,0.0000,12.7838,18.1376
2003,6.6089,0.0000,31.6119,0.0000,22.2637,18.0599,0.0000,17.7064,5.6111,21.8581,...,17.3053,32.6523,0.0000,0.0000,6.7245,13.2508,22.7660,0.0000,20.8085,27.9353
2004,9.9230,0.0000,34.8484,0.0000,0.0000,20.1724,0.0000,14.7655,0.0000,29.7468,...,22.1559,31.8862,0.0000,0.0000,7.5530,12.8279,21.9065,0.0000,26.2624,26.0012
2005,10.4187,0.0000,46.4667,0.0000,0.0000,0.0000,0.0000,11.2288,0.0000,50.9623,...,24.3033,41.6909,0.0000,0.0000,14.2734,18.3203,27.9158,0.0000,40.8231,35.8985
2006,12.9824,0.0000,62.0285,0.0000,0.0000,0.0000,0.0000,27.9899,0.0000,53.7258,...,32.8919,55.3165,0.0000,0.0000,21.4463,46.5464,44.7165,0.0000,47.0192,54.5026
2007,36.0524,0.0000,78.9409,0.0000,55.1318,45.3414,0.0000,32.8384,0.0000,64.9046,...,23.9073,74.4775,0.0000,0.0000,21.3788,64.6742,56.7223,0.0000,55.8766,71.1417
2008,42.3165,0.0000,91.5772,0.0000,52.5448,45.6902,0.0000,51.8569,0.0000,79.2587,...,34.8969,88.3320,0.0000,0.0000,35.3223,83.7500,76.9358,0.0000,71.0945,89.1498
2009,40.1402,0.0000,73.4234,0.0000,37.7428,43.5931,0.0000,37.5209,0.0000,77.9858,...,27.5747,69.3786,0.0000,0.0000,0.0000,90.4789,44.7102,0.0000,49.0312,65.5202
2010,44.3889,0.0000,74.2175,0.0000,0.0000,51.3974,0.0000,22.4929,0.0000,80.5480,...,29.4453,65.8679,0.0000,0.0000,0.0000,84.5002,42.3550,0.0000,55.6110,67.1829
2011,48.2936,0.0000,105.2938,0.0000,0.0000,72.7194,0.0000,28.4045,0.0000,95.2595,...,37.6759,108.3772,18.8280,0.0000,0.0000,107.6442,74.1430,0.0000,73.5356,98.5716
2012,47.5127,0.0000,104.4046,0.0000,0.0000,68.7288,0.0000,46.2940,0.0000,95.1173,...,37.2408,96.3769,31.8686,0.0000,0.0000,103.0864,68.4979,0.0000,71.8047,87.9650
2013,31.3706,0.0000,85.2862,0.0000,66.4339,0.0000,0.0000,56.9418,0.0000,76.3991,...,24.0369,90.1654,0.0000,0.0000,0.0000,103.7722,66.5629,0.0000,67.7053,90.2336
2014,46.1520,0.0000,81.1637,0.0000,0.0000,0.0000,0.0000,56.9712,0.0000,46.4690,...,22.6310,0.0000,0.0000,0.0000,0.0000,92.0430,59.8826,0.0000,70.1796,0.0000
2015,38.1767,0.0000,73.5269,0.0000,0.0000,40.0288,0.0000,49.8747,0.0000,0.0000,...,25.0961,0.0000,0.0000,0.0000,0.0000,96.5325,59.5525,0.0000,60.2159,0.0000
2016,78.3331,0.0000,92.7777,0.0000,0.0000,30.7434,0.0000,52.7617,0.0000,0.0000,...,21.5373,0.0000,0.0000,0.0000,0.0000,0.0000,65.7322,0.0000,59.4124,0.0000
2017,132.1367,0.0000,98.2114,0.0000,0.0000,0.0000,0.0000,58.5604,45.3592,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,68.7301,0.0000,63.9549,0.0000
2018,100.4347,0.0000,67.4212,0.0000,45.2247,0.0000,0.0000,61.9708,45.3595,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,70.9276,0.0000,57.2308,0.0000
2019,0.0000,0.0000,56.4532,0.0000,45.2632,0.0000,0.0000,0.0000,45.3592,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,70.5011,0.0000,54.6081,0.0000

## Create SQLite database
Use the data frames to create a <em>SQLite</em> database

In [32]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer,Float, String, create_engine
from sqlalchemy.orm import Session

In [ ]:
# Create classes for each database table
Base = declarative_base()

class export(Base):
    year = Column(Integer, primary_key = True)