## Scrape Country Data
Scrape Google Dataset (https://developers.google.com/public-data/docs/canonical/countries_csv) for country data.

In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Set-up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\nikoe\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [3]:
url = "https://developers.google.com/public-data/docs/canonical/countries_csv"
browser.visit(url)
html = browser.html
countryData_site = bs(html, 'html.parser')

In [4]:
# List of table rows
results = countryData_site.find_all('tr')
del results[0]

browser.quit()

In [5]:
country_code = []
latitude = []
longitude = []
country_name = []

for row in results:
    td = row.find_all('td')
    country_code.append(td[0].get_text())
    latitude.append(td[1].get_text())
    longitude.append(td[2].get_text())
    country_name.append(td[3].get_text())

In [6]:
coordinate_df = pd.DataFrame([country_code, latitude, longitude, country_name])
coordinate_df = coordinate_df.T
coordinate_df = coordinate_df.replace("Côte d'Ivoire", "Cote d'Ivoire").replace("Congo [DRC]", "Democratic Republic of Congo").replace("Congo [Republic]", "Congo").replace("United States", "United States of America").replace("Russia", "Russian Federation").replace("Czech Republic", "Czechia")

In [7]:
coordinate_df

      0           1           2                     3
0    AD   42.546245    1.601554               Andorra
1    AE   23.424076   53.847818  United Arab Emirates
2    AF    33.93911   67.709953           Afghanistan
3    AG   17.060816  -61.796428   Antigua and Barbuda
4    AI   18.220554  -63.068615              Anguilla
..   ..         ...         ...                   ...
240  YE   15.552727   48.516388                 Yemen
241  YT    -12.8275   45.166244               Mayotte
242  ZA  -30.559482   22.937506          South Africa
243  ZM  -13.133897   27.849332                Zambia
244  ZW  -19.015438   29.154857              Zimbabwe

[245 rows x 4 columns]

In [8]:
coordinate_df.to_csv('resources/countryCoordinate.csv', index=False)