## Import Data
Importing CSVs and converting into <em>Pandas</em> data frames.

In [1]:
import pandas as pd

### Trade Statistics - Exports

In [2]:
df = pd.read_csv('resources/tradeStats_exports.csv')

In [3]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [4]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [5]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [6]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [7]:
# Concat dataframes for normalized (1NF) data structure
export_df = pd.concat(final_list).reset_index(drop = True)
export_df[''] = "Export"
export_df.head(40)

       0                                 1          2
0   1990                            Angola      84.35  Export
1   1991                            Angola     70.501  Export
2   1992                            Angola      80.25  Export
3   1993                            Angola     38.878  Export
4   1994                            Angola      8.302  Export
5   1995                            Angola     40.559  Export
6   1996                            Angola     51.831  Export
7   1997                            Angola     50.494  Export
8   1998                            Angola     53.929  Export
9   1999                            Angola     50.114  Export
10  2000                            Angola     21.505  Export
11  2001                            Angola      14.25  Export
12  2002                            Angola      9.345  Export
13  2003                            Angola     17.298  Export
14  2004                            Angola       5.67  Export
15  2005                            Angola      4.665  Export
16  2006                            Angola       5.41  Export
17  2007                            Angola      3.916  Export
18  2008                            Angola      6.105  Export
19  2009                            Angola      6.925  Export
20  2010                            Angola       4.37  Export
21  2011                            Angola      7.575  Export
22  2012                            Angola      8.375  Export
23  2013                            Angola       5.52  Export
24  2014                            Angola      9.375  Export
25  2015                            Angola     10.515  Export
26  2016                            Angola     10.945  Export
27  2017                            Angola      9.055  Export
28  2018                            Angola   9.323397  Export
29  2019                            Angola  23.357178  Export
30  1990  Bolivia (Plurinational State of)    156.442  Export
31  1991  Bolivia (Plurinational State of)     73.523  Export
32  1992  Bolivia (Plurinational State of)     96.204  Export
33  1993  Bolivia (Plurinational State of)     47.319  Export
34  1994  Bolivia (Plurinational State of)     84.321  Export
35  1995  Bolivia (Plurinational State of)     93.958  Export
36  1996  Bolivia (Plurinational State of)    123.445  Export
37  1997  Bolivia (Plurinational State of)    110.955  Export
38  1998  Bolivia (Plurinational State of)     97.039  Export
39  1999  Bolivia (Plurinational State of)    123.709  Export

### Trade Statistics - Imports

In [8]:
df = pd.read_csv('resources/tradeStats_imports.csv')

In [9]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [10]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [11]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [12]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [13]:
# Concat dataframes for normalized (1NF) data structure
import_df = pd.concat(final_list).reset_index(drop = True)
import_df[''] = "Import"
import_df.head(40)

       0        1            2
0   1990  Austria  1879.717004  Import
1   1991  Austria  2058.271005  Import
2   1992  Austria  2206.416005  Import
3   1993  Austria  1836.489002  Import
4   1994  Austria  1417.214004  Import
5   1995  Austria  1231.436001  Import
6   1996  Austria  1210.466006  Import
7   1997  Austria  1294.203406  Import
8   1998  Austria  1293.354106  Import
9   1999  Austria  1499.777011  Import
10  2000  Austria  1257.232892  Import
11  2001  Austria  1432.413588  Import
12  2002  Austria  1447.207389  Import
13  2003  Austria  1336.059588  Import
14  2004  Austria  1538.156191  Import
15  2005  Austria   1576.57893  Import
16  2006  Austria  1600.652025  Import
17  2007  Austria  1968.112699  Import
18  2008  Austria  1901.066696  Import
19  2009  Austria  1309.234032  Import
20  2010  Austria  1369.200299  Import
21  2011  Austria  1452.492905  Import
22  2012  Austria  1558.609366  Import
23  2013  Austria  1554.926951  Import
24  2014  Austria   1525.08108  Import
25  2015  Austria  1513.390286  Import
26  2016  Austria   1494.93856  Import
27  2017  Austria  1459.911532  Import
28  2018  Austria  1429.406832  Import
29  2019  Austria  1447.513664  Import
30  1990  Belgium          NaN  Import
31  1991  Belgium          NaN  Import
32  1992  Belgium          NaN  Import
33  1993  Belgium          NaN  Import
34  1994  Belgium          NaN  Import
35  1995  Belgium          NaN  Import
36  1996  Belgium          NaN  Import
37  1997  Belgium          NaN  Import
38  1998  Belgium          NaN  Import
39  1999  Belgium  3003.005512  Import

### Price to Growers - Colombian Milds

In [14]:
# Read CSV
df = pd.read_csv('resources/priceGrowers_colombianMilds.csv')

In [15]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [16]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [17]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [18]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [19]:
# Concat dataframes for normalized (1NF) data structure
colombianMild_df = pd.concat(final_list).reset_index(drop = True)
colombianMild_df[''] = "Colombian Milds"
colombianMild_df.head(40)

       0         1         2
0   1990  Colombia    69.523  Colombian Milds
1   1991  Colombia   67.1251  Colombian Milds
2   1992  Colombia   54.5709  Colombian Milds
3   1993  Colombia   50.1234  Colombian Milds
4   1994  Colombia   85.9942  Colombian Milds
5   1995  Colombia   99.6231  Colombian Milds
6   1996  Colombia   93.5556  Colombian Milds
7   1997  Colombia  133.1672  Colombian Milds
8   1998  Colombia  102.0805  Colombian Milds
9   1999  Colombia   86.3828  Colombian Milds
10  2000  Colombia   74.9587  Colombian Milds
11  2001  Colombia   57.9505  Colombian Milds
12  2002  Colombia   52.5669  Colombian Milds
13  2003  Colombia    48.343  Colombian Milds
14  2004  Colombia   60.8325  Colombian Milds
15  2005  Colombia   89.2214  Colombian Milds
16  2006  Colombia   89.8083  Colombian Milds
17  2007  Colombia  100.0535  Colombian Milds
18  2008  Colombia  114.2209  Colombian Milds
19  2009  Colombia  138.9551  Colombian Milds
20  2010  Colombia  180.5484  Colombian Milds
21  2011  Colombia  239.6763  Colombian Milds
22  2012  Colombia  166.6921  Colombian Milds
23  2013  Colombia  113.9086  Colombian Milds
24  2014  Colombia  159.7125  Colombian Milds
25  2015  Colombia  119.4042  Colombian Milds
26  2016  Colombia  123.5571  Colombian Milds
27  2017  Colombia  125.7612  Colombian Milds
28  2018  Colombia  113.5179  Colombian Milds
29  2019  Colombia  108.6836  Colombian Milds
30  1990     Kenya   60.5721  Colombian Milds
31  1991     Kenya   50.6778  Colombian Milds
32  1992     Kenya   28.9495  Colombian Milds
33  1993     Kenya   47.6419  Colombian Milds
34  1994     Kenya  152.6058  Colombian Milds
35  1995     Kenya  140.1651  Colombian Milds
36  1996     Kenya   110.036  Colombian Milds
37  1997     Kenya  183.9967  Colombian Milds
38  1998     Kenya  179.8972  Colombian Milds
39  1999     Kenya  105.1914  Colombian Milds

### Price to Growers - Other Milds

In [20]:
df = pd.read_csv('resources/priceGrowers_otherMilds.csv')

In [21]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [22]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,51.7802,52.4230,43.5276,27.3283,79.9150,76.9867,57.1799,100.0689,131.0938,98.7076,...,NaN,NaN,225.6445,201.9723,239.2465,234.7937,271.7944,471.6169,455.1460,858.2941
1,58.0195,55.0206,59.2340,58.2708,60.6823,56.6854,51.9721,52.7855,52.2187,46.5697,...,85.6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32.2852,28.2347,28.7593,23.2510,88.3161,85.2593,80.9459,43.6415,66.8331,88.4110,...,NaN,NaN,NaN,82.8733,NaN,NaN,NaN,NaN,70.7864,70.8467
3,58.4893,52.7258,49.9093,54.2666,81.3628,88.2256,92.7809,98.2583,92.6592,79.5496,...,139.8577,180.2225,160.7291,124.6527,130.7748,145.8383,129.1077,138.0947,NaN,NaN
4,171.4282,171.4282,179.9996,188.5711,203.5302,188.6010,188.5711,188.5711,188.5711,188.5711,...,70.7141,70.7141,70.7141,221.9638,235.7138,235.7138,235.7138,235.7138,NaN,NaN

In [23]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [24]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [25]:
# Concat dataframes for normalized (1NF) data structure
otherMild_df = pd.concat(final_list).reset_index(drop = True)
otherMild_df[''] = "Other Milds"
otherMild_df.head(40)

       0                                 1         2
0   1990  Bolivia (Plurinational State of)   51.7802  Other Milds
1   1991  Bolivia (Plurinational State of)    52.423  Other Milds
2   1992  Bolivia (Plurinational State of)   43.5276  Other Milds
3   1993  Bolivia (Plurinational State of)   27.3283  Other Milds
4   1994  Bolivia (Plurinational State of)    79.915  Other Milds
5   1995  Bolivia (Plurinational State of)   76.9867  Other Milds
6   1996  Bolivia (Plurinational State of)   57.1799  Other Milds
7   1997  Bolivia (Plurinational State of)  100.0689  Other Milds
8   1998  Bolivia (Plurinational State of)  131.0938  Other Milds
9   1999  Bolivia (Plurinational State of)   98.7076  Other Milds
10  2000  Bolivia (Plurinational State of)   78.0529  Other Milds
11  2001  Bolivia (Plurinational State of)       NaN  Other Milds
12  2002  Bolivia (Plurinational State of)       NaN  Other Milds
13  2003  Bolivia (Plurinational State of)       NaN  Other Milds
14  2004  Bolivia (Plurinational State of)       NaN  Other Milds
15  2005  Bolivia (Plurinational State of)       NaN  Other Milds
16  2006  Bolivia (Plurinational State of)       NaN  Other Milds
17  2007  Bolivia (Plurinational State of)       NaN  Other Milds
18  2008  Bolivia (Plurinational State of)       NaN  Other Milds
19  2009  Bolivia (Plurinational State of)       NaN  Other Milds
20  2010  Bolivia (Plurinational State of)       NaN  Other Milds
21  2011  Bolivia (Plurinational State of)       NaN  Other Milds
22  2012  Bolivia (Plurinational State of)  225.6445  Other Milds
23  2013  Bolivia (Plurinational State of)  201.9723  Other Milds
24  2014  Bolivia (Plurinational State of)  239.2465  Other Milds
25  2015  Bolivia (Plurinational State of)  234.7937  Other Milds
26  2016  Bolivia (Plurinational State of)  271.7944  Other Milds
27  2017  Bolivia (Plurinational State of)  471.6169  Other Milds
28  2018  Bolivia (Plurinational State of)   455.146  Other Milds
29  2019  Bolivia (Plurinational State of)  858.2941  Other Milds
30  1990                           Burundi   58.0195  Other Milds
31  1991                           Burundi   55.0206  Other Milds
32  1992                           Burundi    59.234  Other Milds
33  1993                           Burundi   58.2708  Other Milds
34  1994                           Burundi   60.6823  Other Milds
35  1995                           Burundi   56.6854  Other Milds
36  1996                           Burundi   51.9721  Other Milds
37  1997                           Burundi   52.7855  Other Milds
38  1998                           Burundi   52.2187  Other Milds
39  1999                           Burundi   46.5697  Other Milds

### Price to Growers - Brazilian Naturals

In [26]:
df = pd.read_csv('resources/priceGrowers_brazilianNaturals.csv')

In [27]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [28]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,57.0161,37.6447,54.6078,45.8120,100.4557,159.4754,120.5216,NaN
1,54.3248,43.9931,45.1989,52.8770,114.5687,115.5228,96.3456,145.4095,105.2491,74.0666,...,133.9954,224.2600,152.2879,102.1379,134.6969,104.4866,107.8306,110.4757,90.7803,81.4830
2,61.0900,68.1911,61.2061,61.7186,109.5460,115.0172,67.7365,91.0557,91.8639,65.6448,...,85.4598,145.4623,102.7897,73.3004,83.2356,76.0297,87.3074,81.5073,70.6786,69.3104
3,NaN,NaN,NaN,115.5349,173.5073,NaN,NaN,112.2585,99.4085,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,55.7355,54.1985,99.6167,106.3010,76.3125,79.7375,81.8728,64.8877,...,NaN,NaN,262.0105,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [30]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [31]:
# Concat dataframes for normalized (1NF) data structure
brazilianNaturals_df = pd.concat(final_list).reset_index(drop = True)
brazilianNaturals_df[''] = "Brazilian Naturals"
brazilianNaturals_df.head(40)

       0       1         2
0   1990  Angola       NaN  Brazilian Naturals
1   1991  Angola       NaN  Brazilian Naturals
2   1992  Angola       NaN  Brazilian Naturals
3   1993  Angola       NaN  Brazilian Naturals
4   1994  Angola       NaN  Brazilian Naturals
5   1995  Angola       NaN  Brazilian Naturals
6   1996  Angola       NaN  Brazilian Naturals
7   1997  Angola       NaN  Brazilian Naturals
8   1998  Angola       NaN  Brazilian Naturals
9   1999  Angola       NaN  Brazilian Naturals
10  2000  Angola       NaN  Brazilian Naturals
11  2001  Angola       NaN  Brazilian Naturals
12  2002  Angola       NaN  Brazilian Naturals
13  2003  Angola       NaN  Brazilian Naturals
14  2004  Angola       NaN  Brazilian Naturals
15  2005  Angola       NaN  Brazilian Naturals
16  2006  Angola       NaN  Brazilian Naturals
17  2007  Angola       NaN  Brazilian Naturals
18  2008  Angola       NaN  Brazilian Naturals
19  2009  Angola       NaN  Brazilian Naturals
20  2010  Angola       NaN  Brazilian Naturals
21  2011  Angola       NaN  Brazilian Naturals
22  2012  Angola   57.0161  Brazilian Naturals
23  2013  Angola   37.6447  Brazilian Naturals
24  2014  Angola   54.6078  Brazilian Naturals
25  2015  Angola    45.812  Brazilian Naturals
26  2016  Angola  100.4557  Brazilian Naturals
27  2017  Angola  159.4754  Brazilian Naturals
28  2018  Angola  120.5216  Brazilian Naturals
29  2019  Angola       NaN  Brazilian Naturals
30  1990  Brazil   54.3248  Brazilian Naturals
31  1991  Brazil   43.9931  Brazilian Naturals
32  1992  Brazil   45.1989  Brazilian Naturals
33  1993  Brazil    52.877  Brazilian Naturals
34  1994  Brazil  114.5687  Brazilian Naturals
35  1995  Brazil  115.5228  Brazilian Naturals
36  1996  Brazil   96.3456  Brazilian Naturals
37  1997  Brazil  145.4095  Brazilian Naturals
38  1998  Brazil  105.2491  Brazilian Naturals
39  1999  Brazil   74.0666  Brazilian Naturals

### Price to Growers - Robustas

In [40]:
df = pd.read_csv('resources/priceGrowers_robustas.csv')

,Unnamed: 0,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Angola,85.6569,91.1153,44.9183,11.8708,NaN,NaN,NaN,NaN,NaN,...,44.3889,48.2936,47.5127,31.3706,46.1520,38.1767,78.3331,132.1367,100.4347,NaN
1,Benin,53.7609,22.8961,24.0067,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brazil,34.8486,27.4947,27.5947,35.5441,85.4261,97.4999,69.7791,77.8558,77.7473,...,74.2175,105.2938,104.4046,85.2862,81.1637,73.5269,92.7777,98.2114,67.4212,56.4532
3,Burundi,NaN,NaN,47.1618,41.8018,41.4499,42.3356,40.4503,40.1863,35.3567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cameroon,28.3337,25.0078,24.2466,17.3955,29.8547,52.0795,51.0193,38.9016,36.4619,...,NaN,NaN,NaN,66.4339,NaN,NaN,NaN,NaN,45.2247,45.2632
5,Central African Republic,36.7471,36.6398,33.9318,23.8924,32.7420,57.1888,45.0685,38.3562,37.8613,...,51.3974,72.7194,68.7288,NaN,NaN,40.0288,30.7434,NaN,NaN,NaN
6,Congo,19.2087,18.5542,19.7491,18.4404,8.7749,27.2813,14.1896,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cote d'Ivoire,33.4064,32.2682,31.7589,27.6964,29.7788,59.4027,57.6963,39.2871,40.1367,...,22.4929,28.4045,46.2940,56.9418,56.9712,49.8747,52.7617,58.5604,61.9708,NaN
8,Democratic Republic of Congo,4.5201,NaN,NaN,NaN,NaN,28.3495,32.8854,45.3592,44.2760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.3592,45.3595,45.3592
9,Ecuador,19.0602,17.8351,23.3070,19.5204,63.2941,143.6162,97.5143,61.1930,66.6301,...,80.5480,95.2595,95.1173,76.3991,46.4690,NaN,NaN,NaN,NaN,NaN
10,Gabon,43.4284,43.5841,51.5195,48.1054,27.7637,40.9219,39.9081,37.9027,50.2608,...,82.5789,88.9243,88.8971,91.8416,91.8890,77.0689,NaN,NaN,NaN,NaN
11,Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.4346,17.7237,21.3551,15.9379,24.1176,38.4790,40.8853,NaN,NaN
12,Guinea,34.3722,30.2467,23.7512,27.4662,61.3323,92.2648,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,India,44.3451,40.6472,39.7709,44.2088,56.4636,66.5331,56.6737,76.3016,75.6198,...,77.9592,109.6024,104.6512,94.8753,104.6340,87.9485,82.7120,94.9680,78.4831,70.6774
14,Indonesia,29.6807,29.9209,24.9216,28.4882,91.3781,95.6672,58.3501,58.4340,59.3709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Madagascar,32.4545,22.7618,22.6204,36.2656,43.9881,58.7292,61.0601,49.4841,48.2505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Nigeria,70.5228,59.0325,39.5004,36.0781,51.5540,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Papua New Guinea,26.5984,29.4778,39.1005,54.8047,95.6374,66.3073,63.7485,75.4338,59.1507,...,29.4453,37.6759,37.2408,24.0369,22.6310,25.0961,21.5373,NaN,NaN,NaN
19,Phillippines,34.2253,34.6061,42.4765,46.4492,94.6608,104.3144,68.9094,72.9149,76.6635,...,65.8679,108.3772,96.3769,90.1654,NaN,NaN,NaN,NaN,NaN,NaN
20,Sierra Leone,26.1686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.8280,31.8686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Sri Lanka,26.8959,25.2906,31.8496,28.8866,71.9905,93.2376,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tanzania,17.0070,17.1071,14.8403,11.8801,24.0035,44.6094,32.2006,92.4844,28.1884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Thailand,37.7181,18.3728,20.3048,18.2894,18.7899,36.8393,43.3532,21.8500,27.3262,...,84.5002,107.6442,103.0864,103.7722,92.0430,96.5325,NaN,NaN,NaN,NaN
24,Togo,29.2306,28.6435,29.8298,22.6435,25.9924,61.4095,62.5798,44.8863,49.9303,...,42.3550,74.1430,68.4979,66.5629,59.8826,59.5525,65.7322,68.7301,70.9276,70.5011
25,Trinidad & Tobago,62.5882,62.5882,69.2941,72.1989,64.1384,63.8905,63.2496,60.6263,60.2943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Uganda,7.5418,11.8428,8.9537,11.7661,41.6628,59.7927,37.4363,41.6871,40.0205,...,55.6110,73.5356,71.8047,67.7053,70.1796,60.2159,59.4124,63.9549,57.2308,54.6081
27,Vietnam,36.9183,30.7256,30.7070,34.5296,86.0079,95.1844,57.4154,56.1426,65.8694,...,67.1829,98.5716,87.9650,90.2336,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [34]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,85.6569,91.1153,44.9183,11.8708,NaN,NaN,NaN,NaN,NaN,NaN,...,44.3889,48.2936,47.5127,31.3706,46.1520,38.1767,78.3331,132.1367,100.4347,NaN
1,53.7609,22.8961,24.0067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34.8486,27.4947,27.5947,35.5441,85.4261,97.4999,69.7791,77.8558,77.7473,56.9266,...,74.2175,105.2938,104.4046,85.2862,81.1637,73.5269,92.7777,98.2114,67.4212,56.4532
3,NaN,NaN,47.1618,41.8018,41.4499,42.3356,40.4503,40.1863,35.3567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28.3337,25.0078,24.2466,17.3955,29.8547,52.0795,51.0193,38.9016,36.4619,31.3028,...,NaN,NaN,NaN,66.4339,NaN,NaN,NaN,NaN,45.2247,45.2632

In [35]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [36]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [37]:
# Concat dataframes for normalized (1NF) data structure
robustas_df = pd.concat(final_list).reset_index(drop = True)
robustas_df[''] = "Robustas"
robustas_df.head(40)

       0       1         2
0   1990  Angola   85.6569  Robustas
1   1991  Angola   91.1153  Robustas
2   1992  Angola   44.9183  Robustas
3   1993  Angola   11.8708  Robustas
4   1994  Angola       NaN  Robustas
5   1995  Angola       NaN  Robustas
6   1996  Angola       NaN  Robustas
7   1997  Angola       NaN  Robustas
8   1998  Angola       NaN  Robustas
9   1999  Angola       NaN  Robustas
10  2000  Angola   51.7415  Robustas
11  2001  Angola   18.6135  Robustas
12  2002  Angola   10.7112  Robustas
13  2003  Angola    6.6089  Robustas
14  2004  Angola     9.923  Robustas
15  2005  Angola   10.4187  Robustas
16  2006  Angola   12.9824  Robustas
17  2007  Angola   36.0524  Robustas
18  2008  Angola   42.3165  Robustas
19  2009  Angola   40.1402  Robustas
20  2010  Angola   44.3889  Robustas
21  2011  Angola   48.2936  Robustas
22  2012  Angola   47.5127  Robustas
23  2013  Angola   31.3706  Robustas
24  2014  Angola    46.152  Robustas
25  2015  Angola   38.1767  Robustas
26  2016  Angola   78.3331  Robustas
27  2017  Angola  132.1367  Robustas
28  2018  Angola  100.4347  Robustas
29  2019  Angola       NaN  Robustas
30  1990   Benin   53.7609  Robustas
31  1991   Benin   22.8961  Robustas
32  1992   Benin   24.0067  Robustas
33  1993   Benin       NaN  Robustas
34  1994   Benin       NaN  Robustas
35  1995   Benin       NaN  Robustas
36  1996   Benin       NaN  Robustas
37  1997   Benin       NaN  Robustas
38  1998   Benin       NaN  Robustas
39  1999   Benin       NaN  Robustas

## Create SQLite database
Use the data frames to create a <em>SQLite</em> database

In [38]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer,Float, String, create_engine
from sqlalchemy.orm import Session

In [39]:
# Create classes for each database table
Base = declarative_base()

class export(Base):
    year = Column(Integer, primary_key = True)

InvalidRequestError: Class <class '__main__.export'> does not have a __table__ or __tablename__ specified and does not inherit from an existing table-mapped class.