## Import Data
Importing CSVs and converting into <em>Pandas</em> data frames.

In [1]:
import pandas as pd

### Trade Statistics - Exports

In [2]:
df = pd.read_csv('resources/tradeStats_exports.csv')

In [3]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [4]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [5]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [6]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [7]:
# Concat dataframes for normalized (1NF) data structure
export_df = pd.concat(final_list).reset_index(drop = True)
export_df[3] = "Export"
export_df.head(40)

       0                                 1          2       3
0   1990                            Angola      84.35  Export
1   1991                            Angola     70.501  Export
2   1992                            Angola      80.25  Export
3   1993                            Angola     38.878  Export
4   1994                            Angola      8.302  Export
5   1995                            Angola     40.559  Export
6   1996                            Angola     51.831  Export
7   1997                            Angola     50.494  Export
8   1998                            Angola     53.929  Export
9   1999                            Angola     50.114  Export
10  2000                            Angola     21.505  Export
11  2001                            Angola      14.25  Export
12  2002                            Angola      9.345  Export
13  2003                            Angola     17.298  Export
14  2004                            Angola       5.67  Export
15  2005                            Angola      4.665  Export
16  2006                            Angola       5.41  Export
17  2007                            Angola      3.916  Export
18  2008                            Angola      6.105  Export
19  2009                            Angola      6.925  Export
20  2010                            Angola       4.37  Export
21  2011                            Angola      7.575  Export
22  2012                            Angola      8.375  Export
23  2013                            Angola       5.52  Export
24  2014                            Angola      9.375  Export
25  2015                            Angola     10.515  Export
26  2016                            Angola     10.945  Export
27  2017                            Angola      9.055  Export
28  2018                            Angola   9.323397  Export
29  2019                            Angola  23.357178  Export
30  1990  Bolivia (Plurinational State of)    156.442  Export
31  1991  Bolivia (Plurinational State of)     73.523  Export
32  1992  Bolivia (Plurinational State of)     96.204  Export
33  1993  Bolivia (Plurinational State of)     47.319  Export
34  1994  Bolivia (Plurinational State of)     84.321  Export
35  1995  Bolivia (Plurinational State of)     93.958  Export
36  1996  Bolivia (Plurinational State of)    123.445  Export
37  1997  Bolivia (Plurinational State of)    110.955  Export
38  1998  Bolivia (Plurinational State of)     97.039  Export
39  1999  Bolivia (Plurinational State of)    123.709  Export

### Trade Statistics - Imports

In [8]:
df = pd.read_csv('resources/tradeStats_imports.csv')

In [9]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [10]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [11]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [12]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [13]:
# Concat dataframes for normalized (1NF) data structure
import_df = pd.concat(final_list).reset_index(drop = True)
import_df[3] = "Import"
import_df.head(40)

       0        1            2       3
0   1990  Austria  1879.717004  Import
1   1991  Austria  2058.271005  Import
2   1992  Austria  2206.416005  Import
3   1993  Austria  1836.489002  Import
4   1994  Austria  1417.214004  Import
5   1995  Austria  1231.436001  Import
6   1996  Austria  1210.466006  Import
7   1997  Austria  1294.203406  Import
8   1998  Austria  1293.354106  Import
9   1999  Austria  1499.777011  Import
10  2000  Austria  1257.232892  Import
11  2001  Austria  1432.413588  Import
12  2002  Austria  1447.207389  Import
13  2003  Austria  1336.059588  Import
14  2004  Austria  1538.156191  Import
15  2005  Austria   1576.57893  Import
16  2006  Austria  1600.652025  Import
17  2007  Austria  1968.112699  Import
18  2008  Austria  1901.066696  Import
19  2009  Austria  1309.234032  Import
20  2010  Austria  1369.200299  Import
21  2011  Austria  1452.492905  Import
22  2012  Austria  1558.609366  Import
23  2013  Austria  1554.926951  Import
24  2014  Austria   1525.08108  Import
25  2015  Austria  1513.390286  Import
26  2016  Austria   1494.93856  Import
27  2017  Austria  1459.911532  Import
28  2018  Austria  1429.406832  Import
29  2019  Austria  1447.513664  Import
30  1990  Belgium          NaN  Import
31  1991  Belgium          NaN  Import
32  1992  Belgium          NaN  Import
33  1993  Belgium          NaN  Import
34  1994  Belgium          NaN  Import
35  1995  Belgium          NaN  Import
36  1996  Belgium          NaN  Import
37  1997  Belgium          NaN  Import
38  1998  Belgium          NaN  Import
39  1999  Belgium  3003.005512  Import

### Price to Growers - Colombian Milds

In [14]:
# Read CSV
df = pd.read_csv('resources/priceGrowers_colombianMilds.csv')

In [15]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [16]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])

In [17]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [18]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [19]:
# Concat dataframes for normalized (1NF) data structure
colombianMild_df = pd.concat(final_list).reset_index(drop = True)
colombianMild_df[3] = "Colombian Milds"
colombianMild_df.head(40)

       0         1         2                3
0   1990  Colombia    69.523  Colombian Milds
1   1991  Colombia   67.1251  Colombian Milds
2   1992  Colombia   54.5709  Colombian Milds
3   1993  Colombia   50.1234  Colombian Milds
4   1994  Colombia   85.9942  Colombian Milds
5   1995  Colombia   99.6231  Colombian Milds
6   1996  Colombia   93.5556  Colombian Milds
7   1997  Colombia  133.1672  Colombian Milds
8   1998  Colombia  102.0805  Colombian Milds
9   1999  Colombia   86.3828  Colombian Milds
10  2000  Colombia   74.9587  Colombian Milds
11  2001  Colombia   57.9505  Colombian Milds
12  2002  Colombia   52.5669  Colombian Milds
13  2003  Colombia    48.343  Colombian Milds
14  2004  Colombia   60.8325  Colombian Milds
15  2005  Colombia   89.2214  Colombian Milds
16  2006  Colombia   89.8083  Colombian Milds
17  2007  Colombia  100.0535  Colombian Milds
18  2008  Colombia  114.2209  Colombian Milds
19  2009  Colombia  138.9551  Colombian Milds
20  2010  Colombia  180.5484  Colombian Milds
21  2011  Colombia  239.6763  Colombian Milds
22  2012  Colombia  166.6921  Colombian Milds
23  2013  Colombia  113.9086  Colombian Milds
24  2014  Colombia  159.7125  Colombian Milds
25  2015  Colombia  119.4042  Colombian Milds
26  2016  Colombia  123.5571  Colombian Milds
27  2017  Colombia  125.7612  Colombian Milds
28  2018  Colombia  113.5179  Colombian Milds
29  2019  Colombia  108.6836  Colombian Milds
30  1990     Kenya   60.5721  Colombian Milds
31  1991     Kenya   50.6778  Colombian Milds
32  1992     Kenya   28.9495  Colombian Milds
33  1993     Kenya   47.6419  Colombian Milds
34  1994     Kenya  152.6058  Colombian Milds
35  1995     Kenya  140.1651  Colombian Milds
36  1996     Kenya   110.036  Colombian Milds
37  1997     Kenya  183.9967  Colombian Milds
38  1998     Kenya  179.8972  Colombian Milds
39  1999     Kenya  105.1914  Colombian Milds

### Price to Growers - Other Milds

In [20]:
df = pd.read_csv('resources/priceGrowers_otherMilds.csv')

In [21]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [22]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,51.7802,52.4230,43.5276,27.3283,79.9150,76.9867,57.1799,100.0689,131.0938,98.7076,...,NaN,NaN,225.6445,201.9723,239.2465,234.7937,271.7944,471.6169,455.1460,858.2941
1,58.0195,55.0206,59.2340,58.2708,60.6823,56.6854,51.9721,52.7855,52.2187,46.5697,...,85.6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32.2852,28.2347,28.7593,23.2510,88.3161,85.2593,80.9459,43.6415,66.8331,88.4110,...,NaN,NaN,NaN,82.8733,NaN,NaN,NaN,NaN,70.7864,70.8467
3,58.4893,52.7258,49.9093,54.2666,81.3628,88.2256,92.7809,98.2583,92.6592,79.5496,...,139.8577,180.2225,160.7291,124.6527,130.7748,145.8383,129.1077,138.0947,NaN,NaN
4,171.4282,171.4282,179.9996,188.5711,203.5302,188.6010,188.5711,188.5711,188.5711,188.5711,...,70.7141,70.7141,70.7141,221.9638,235.7138,235.7138,235.7138,235.7138,NaN,NaN

In [23]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [24]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [25]:
# Concat dataframes for normalized (1NF) data structure
otherMild_df = pd.concat(final_list).reset_index(drop = True)
otherMild_df[3] = "Other Milds"
otherMild_df.head(40)

       0                                 1         2            3
0   1990  Bolivia (Plurinational State of)   51.7802  Other Milds
1   1991  Bolivia (Plurinational State of)    52.423  Other Milds
2   1992  Bolivia (Plurinational State of)   43.5276  Other Milds
3   1993  Bolivia (Plurinational State of)   27.3283  Other Milds
4   1994  Bolivia (Plurinational State of)    79.915  Other Milds
5   1995  Bolivia (Plurinational State of)   76.9867  Other Milds
6   1996  Bolivia (Plurinational State of)   57.1799  Other Milds
7   1997  Bolivia (Plurinational State of)  100.0689  Other Milds
8   1998  Bolivia (Plurinational State of)  131.0938  Other Milds
9   1999  Bolivia (Plurinational State of)   98.7076  Other Milds
10  2000  Bolivia (Plurinational State of)   78.0529  Other Milds
11  2001  Bolivia (Plurinational State of)       NaN  Other Milds
12  2002  Bolivia (Plurinational State of)       NaN  Other Milds
13  2003  Bolivia (Plurinational State of)       NaN  Other Milds
14  2004  Bolivia (Plurinational State of)       NaN  Other Milds
15  2005  Bolivia (Plurinational State of)       NaN  Other Milds
16  2006  Bolivia (Plurinational State of)       NaN  Other Milds
17  2007  Bolivia (Plurinational State of)       NaN  Other Milds
18  2008  Bolivia (Plurinational State of)       NaN  Other Milds
19  2009  Bolivia (Plurinational State of)       NaN  Other Milds
20  2010  Bolivia (Plurinational State of)       NaN  Other Milds
21  2011  Bolivia (Plurinational State of)       NaN  Other Milds
22  2012  Bolivia (Plurinational State of)  225.6445  Other Milds
23  2013  Bolivia (Plurinational State of)  201.9723  Other Milds
24  2014  Bolivia (Plurinational State of)  239.2465  Other Milds
25  2015  Bolivia (Plurinational State of)  234.7937  Other Milds
26  2016  Bolivia (Plurinational State of)  271.7944  Other Milds
27  2017  Bolivia (Plurinational State of)  471.6169  Other Milds
28  2018  Bolivia (Plurinational State of)   455.146  Other Milds
29  2019  Bolivia (Plurinational State of)  858.2941  Other Milds
30  1990                           Burundi   58.0195  Other Milds
31  1991                           Burundi   55.0206  Other Milds
32  1992                           Burundi    59.234  Other Milds
33  1993                           Burundi   58.2708  Other Milds
34  1994                           Burundi   60.6823  Other Milds
35  1995                           Burundi   56.6854  Other Milds
36  1996                           Burundi   51.9721  Other Milds
37  1997                           Burundi   52.7855  Other Milds
38  1998                           Burundi   52.2187  Other Milds
39  1999                           Burundi   46.5697  Other Milds

### Price to Growers - Brazilian Naturals

In [26]:
df = pd.read_csv('resources/priceGrowers_brazilianNaturals.csv')

In [27]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [28]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,57.0161,37.6447,54.6078,45.8120,100.4557,159.4754,120.5216,NaN
1,54.3248,43.9931,45.1989,52.8770,114.5687,115.5228,96.3456,145.4095,105.2491,74.0666,...,133.9954,224.2600,152.2879,102.1379,134.6969,104.4866,107.8306,110.4757,90.7803,81.4830
2,61.0900,68.1911,61.2061,61.7186,109.5460,115.0172,67.7365,91.0557,91.8639,65.6448,...,85.4598,145.4623,102.7897,73.3004,83.2356,76.0297,87.3074,81.5073,70.6786,69.3104
3,NaN,NaN,NaN,115.5349,173.5073,NaN,NaN,112.2585,99.4085,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,55.7355,54.1985,99.6167,106.3010,76.3125,79.7375,81.8728,64.8877,...,NaN,NaN,262.0105,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [30]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [31]:
# Concat dataframes for normalized (1NF) data structure
brazilianNatural_df = pd.concat(final_list).reset_index(drop = True)
brazilianNatural_df[3] = "Brazilian Naturals"
brazilianNatural_df.head(40)

       0       1         2                   3
0   1990  Angola       NaN  Brazilian Naturals
1   1991  Angola       NaN  Brazilian Naturals
2   1992  Angola       NaN  Brazilian Naturals
3   1993  Angola       NaN  Brazilian Naturals
4   1994  Angola       NaN  Brazilian Naturals
5   1995  Angola       NaN  Brazilian Naturals
6   1996  Angola       NaN  Brazilian Naturals
7   1997  Angola       NaN  Brazilian Naturals
8   1998  Angola       NaN  Brazilian Naturals
9   1999  Angola       NaN  Brazilian Naturals
10  2000  Angola       NaN  Brazilian Naturals
11  2001  Angola       NaN  Brazilian Naturals
12  2002  Angola       NaN  Brazilian Naturals
13  2003  Angola       NaN  Brazilian Naturals
14  2004  Angola       NaN  Brazilian Naturals
15  2005  Angola       NaN  Brazilian Naturals
16  2006  Angola       NaN  Brazilian Naturals
17  2007  Angola       NaN  Brazilian Naturals
18  2008  Angola       NaN  Brazilian Naturals
19  2009  Angola       NaN  Brazilian Naturals
20  2010  Angola       NaN  Brazilian Naturals
21  2011  Angola       NaN  Brazilian Naturals
22  2012  Angola   57.0161  Brazilian Naturals
23  2013  Angola   37.6447  Brazilian Naturals
24  2014  Angola   54.6078  Brazilian Naturals
25  2015  Angola    45.812  Brazilian Naturals
26  2016  Angola  100.4557  Brazilian Naturals
27  2017  Angola  159.4754  Brazilian Naturals
28  2018  Angola  120.5216  Brazilian Naturals
29  2019  Angola       NaN  Brazilian Naturals
30  1990  Brazil   54.3248  Brazilian Naturals
31  1991  Brazil   43.9931  Brazilian Naturals
32  1992  Brazil   45.1989  Brazilian Naturals
33  1993  Brazil    52.877  Brazilian Naturals
34  1994  Brazil  114.5687  Brazilian Naturals
35  1995  Brazil  115.5228  Brazilian Naturals
36  1996  Brazil   96.3456  Brazilian Naturals
37  1997  Brazil  145.4095  Brazilian Naturals
38  1998  Brazil  105.2491  Brazilian Naturals
39  1999  Brazil   74.0666  Brazilian Naturals

### Price to Growers - Robustas

In [32]:
df = pd.read_csv('resources/priceGrowers_robustas.csv')

In [33]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [34]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,85.6569,91.1153,44.9183,11.8708,NaN,NaN,NaN,NaN,NaN,NaN,...,44.3889,48.2936,47.5127,31.3706,46.1520,38.1767,78.3331,132.1367,100.4347,NaN
1,53.7609,22.8961,24.0067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34.8486,27.4947,27.5947,35.5441,85.4261,97.4999,69.7791,77.8558,77.7473,56.9266,...,74.2175,105.2938,104.4046,85.2862,81.1637,73.5269,92.7777,98.2114,67.4212,56.4532
3,NaN,NaN,47.1618,41.8018,41.4499,42.3356,40.4503,40.1863,35.3567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28.3337,25.0078,24.2466,17.3955,29.8547,52.0795,51.0193,38.9016,36.4619,31.3028,...,NaN,NaN,NaN,66.4339,NaN,NaN,NaN,NaN,45.2247,45.2632

In [35]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [36]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [37]:
# Concat dataframes for normalized (1NF) data structure
robusta_df = pd.concat(final_list).reset_index(drop = True)
robusta_df[3] = "Robustas"
robusta_df.head(40)

       0       1         2         3
0   1990  Angola   85.6569  Robustas
1   1991  Angola   91.1153  Robustas
2   1992  Angola   44.9183  Robustas
3   1993  Angola   11.8708  Robustas
4   1994  Angola       NaN  Robustas
5   1995  Angola       NaN  Robustas
6   1996  Angola       NaN  Robustas
7   1997  Angola       NaN  Robustas
8   1998  Angola       NaN  Robustas
9   1999  Angola       NaN  Robustas
10  2000  Angola   51.7415  Robustas
11  2001  Angola   18.6135  Robustas
12  2002  Angola   10.7112  Robustas
13  2003  Angola    6.6089  Robustas
14  2004  Angola     9.923  Robustas
15  2005  Angola   10.4187  Robustas
16  2006  Angola   12.9824  Robustas
17  2007  Angola   36.0524  Robustas
18  2008  Angola   42.3165  Robustas
19  2009  Angola   40.1402  Robustas
20  2010  Angola   44.3889  Robustas
21  2011  Angola   48.2936  Robustas
22  2012  Angola   47.5127  Robustas
23  2013  Angola   31.3706  Robustas
24  2014  Angola    46.152  Robustas
25  2015  Angola   38.1767  Robustas
26  2016  Angola   78.3331  Robustas
27  2017  Angola  132.1367  Robustas
28  2018  Angola  100.4347  Robustas
29  2019  Angola       NaN  Robustas
30  1990   Benin   53.7609  Robustas
31  1991   Benin   22.8961  Robustas
32  1992   Benin   24.0067  Robustas
33  1993   Benin       NaN  Robustas
34  1994   Benin       NaN  Robustas
35  1995   Benin       NaN  Robustas
36  1996   Benin       NaN  Robustas
37  1997   Benin       NaN  Robustas
38  1998   Benin       NaN  Robustas
39  1999   Benin       NaN  Robustas

### Total Production of Exporting Countries - April group

In [38]:
df = pd.read_csv('resources/totalProduction_april.csv')

In [39]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [40]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,50.3450,79.3310,77.5200,32.6080,76.802,62.1090,70.925,64.330,85.3440,54.9390,...,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
1,122.7770,103.5360,120.2350,50.8230,116.944,142.4850,124.579,140.719,137.9850,157.7020,...,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
2,27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,36760.8533,47577.8065,...,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
3,487.3930,667.1990,620.2380,393.3540,664.143,433.9800,400.969,249.785,491.9920,350.5500,...,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
4,1503.8150,2123.8240,1185.4800,2069.0070,2375.766,1888.2330,1992.914,1190.663,1205.9680,1197.6832,...,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352

In [41]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [42]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [43]:
# Concat dataframes for normalized (1NF) data structure
totalProd_april_df = pd.concat(final_list).reset_index(drop = True)
totalProd_april_df[3] = "April"
totalProd_april_df.head(40)

       0                                 1        2      3
0   1990                            Angola   50.345  April
1   1991                            Angola   79.331  April
2   1992                            Angola    77.52  April
3   1993                            Angola   32.608  April
4   1994                            Angola   76.802  April
5   1995                            Angola   62.109  April
6   1996                            Angola   70.925  April
7   1997                            Angola    64.33  April
8   1998                            Angola   85.344  April
9   1999                            Angola   54.939  April
10  2000                            Angola   49.785  April
11  2001                            Angola    20.69  April
12  2002                            Angola    56.64  April
13  2003                            Angola   38.013  April
14  2004                            Angola    14.77  April
15  2005                            Angola   24.965  April
16  2006                            Angola   35.095  April
17  2007                            Angola   35.631  April
18  2008                            Angola    37.61  April
19  2009                            Angola    13.42  April
20  2010                            Angola    34.97  April
21  2011                            Angola   28.715  April
22  2012                            Angola    32.79  April
23  2013                            Angola   34.935  April
24  2014                            Angola   39.405  April
25  2015                            Angola   40.515  April
26  2016                            Angola    44.83  April
27  2017                            Angola   35.006  April
28  2018                            Angola  41.9027  April
29  2019                            Angola  51.8419  April
30  1990  Bolivia (Plurinational State of)  122.777  April
31  1991  Bolivia (Plurinational State of)  103.536  April
32  1992  Bolivia (Plurinational State of)  120.235  April
33  1993  Bolivia (Plurinational State of)   50.823  April
34  1994  Bolivia (Plurinational State of)  116.944  April
35  1995  Bolivia (Plurinational State of)  142.485  April
36  1996  Bolivia (Plurinational State of)  124.579  April
37  1997  Bolivia (Plurinational State of)  140.719  April
38  1998  Bolivia (Plurinational State of)  137.985  April
39  1999  Bolivia (Plurinational State of)  157.702  April

### Total Production of Exporting Countries - July group

In [44]:
df = pd.read_csv('resources/totalProduction_july.csv')

In [45]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [46]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,2.924,3.003,3.171,3.000,7.585,11.755,13.860,3.270,3.000,3.0000,...,3.0000,3.0000,3.0000,3.0000,3.0020,3.0000,3.0000,3.0001,3.0130,3.0006
1,414.212,302.097,284.237,285.404,284.315,284.955,365.865,300.021,279.953,327.9874,...,108.4970,100.1580,88.1420,106.6850,101.4210,99.8181,102.6000,113.2259,127.6510,130.1829
2,880.062,320.560,637.815,603.944,729.670,885.625,518.848,941.242,486.592,606.8790,...,378.1562,490.5415,488.4307,425.3936,396.9541,399.9543,412.2085,412.4251,430.9097,401.6348
3,392.880,463.352,499.855,450.697,450.246,513.945,428.387,431.818,439.247,399.0270,...,349.5281,349.1949,349.7319,345.2098,343.2067,340.8647,341.5781,342.3802,346.8916,346.6495
4,973.632,1018.482,919.851,874.855,876.764,849.590,889.819,935.472,676.729,621.7634,...,189.0533,179.6611,177.4616,185.6820,193.2142,208.0726,214.6417,203.3179,206.2102,306.5344

In [47]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [48]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [49]:
# Concat dataframes for normalized (1NF) data structure
totalProd_july_df = pd.concat(final_list).reset_index(drop = True)
totalProd_july_df[3] = "July"
totalProd_july_df.head(40)

       0      1         2     3
0   1990  Congo     2.924  July
1   1991  Congo     3.003  July
2   1992  Congo     3.171  July
3   1993  Congo       3.0  July
4   1994  Congo     7.585  July
5   1995  Congo    11.755  July
6   1996  Congo     13.86  July
7   1997  Congo      3.27  July
8   1998  Congo       3.0  July
9   1999  Congo       3.0  July
10  2000  Congo       3.0  July
11  2001  Congo       3.0  July
12  2002  Congo       3.0  July
13  2003  Congo       3.0  July
14  2004  Congo       3.0  July
15  2005  Congo       3.0  July
16  2006  Congo       3.0  July
17  2007  Congo       3.0  July
18  2008  Congo       3.0  July
19  2009  Congo       3.0  July
20  2010  Congo       3.0  July
21  2011  Congo       3.0  July
22  2012  Congo       3.0  July
23  2013  Congo       3.0  July
24  2014  Congo     3.002  July
25  2015  Congo       3.0  July
26  2016  Congo       3.0  July
27  2017  Congo    3.0001  July
28  2018  Congo     3.013  July
29  2019  Congo    3.0006  July
30  1990   Cuba   414.212  July
31  1991   Cuba   302.097  July
32  1992   Cuba   284.237  July
33  1993   Cuba   285.404  July
34  1994   Cuba   284.315  July
35  1995   Cuba   284.955  July
36  1996   Cuba   365.865  July
37  1997   Cuba   300.021  July
38  1998   Cuba   279.953  July
39  1999   Cuba  327.9874  July

### Total Production of Exporting Countries - October group

In [50]:
df = pd.read_csv('resources/totalProduction_october.csv')

In [51]:
# Get list of country names
country_list = []
for index, row in df.iterrows():
    country_list.append(row[0])

In [52]:
# Drop "country names" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1682.484,1725.948,260.376,682.913,405.557,660.040,1432.189,888.942,1113.940,1369.8240,...,527.1347,669.3245,371.0197,403.8311,483.1051,390.8379,291.8761,369.5529,309.5907,268.2090
1,175.274,124.781,133.845,165.574,249.512,108.065,207.831,114.354,214.582,240.6820,...,78.4620,91.3250,22.8900,90.1040,62.6140,100.0180,36.7267,59.9140,37.1350,55.1383
2,14396.000,17980.397,14946.878,11422.422,12964.000,12938.018,10778.850,12122.496,10867.962,9512.2459,...,8522.6594,7653.3336,9926.9445,12124.0702,13333.3435,14008.7814,14634.3893,13824.0725,13865.9620,14100.1182
3,2561.885,2759.619,2997.974,2358.753,2481.942,2843.596,2221.915,2616.600,2445.120,2485.3300,...,1613.6996,1830.8955,1822.6906,1552.0761,1475.0612,1440.1724,1371.8963,1560.6803,1426.6568,1471.7632
4,2940.363,4129.295,2245.536,2293.407,3006.444,2531.864,4858.592,4164.004,1991.547,6320.4388,...,836.7240,2216.3419,1993.8367,2597.7673,1728.0433,1289.0845,1117.4045,1623.8487,2175.3233,1929.1972

In [53]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(country_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [54]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(country_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [55]:
# Concat dataframes for normalized (1NF) data structure
totalProd_october_df = pd.concat(final_list).reset_index(drop = True)
totalProd_october_df[3] = "October"
totalProd_october_df.head(40)

       0                         1         2        3
0   1990                  Cameroon  1682.484  October
1   1991                  Cameroon  1725.948  October
2   1992                  Cameroon   260.376  October
3   1993                  Cameroon   682.913  October
4   1994                  Cameroon   405.557  October
5   1995                  Cameroon    660.04  October
6   1996                  Cameroon  1432.189  October
7   1997                  Cameroon   888.942  October
8   1998                  Cameroon   1113.94  October
9   1999                  Cameroon  1369.824  October
10  2000                  Cameroon  1113.143  October
11  2001                  Cameroon   685.677  October
12  2002                  Cameroon   800.795  October
13  2003                  Cameroon   900.282  October
14  2004                  Cameroon   727.382  October
15  2005                  Cameroon  869.7157  October
16  2006                  Cameroon  818.1664  October
17  2007                  Cameroon  795.3046  October
18  2008                  Cameroon  724.9004  October
19  2009                  Cameroon  902.2813  October
20  2010                  Cameroon  527.1347  October
21  2011                  Cameroon  669.3245  October
22  2012                  Cameroon  371.0197  October
23  2013                  Cameroon  403.8311  October
24  2014                  Cameroon  483.1051  October
25  2015                  Cameroon  390.8379  October
26  2016                  Cameroon  291.8761  October
27  2017                  Cameroon  369.5529  October
28  2018                  Cameroon  309.5907  October
29  2019                  Cameroon   268.209  October
30  1990  Central African Republic   175.274  October
31  1991  Central African Republic   124.781  October
32  1992  Central African Republic   133.845  October
33  1993  Central African Republic   165.574  October
34  1994  Central African Republic   249.512  October
35  1995  Central African Republic   108.065  October
36  1996  Central African Republic   207.831  October
37  1997  Central African Republic   114.354  October
38  1998  Central African Republic   214.582  October
39  1999  Central African Republic   240.682  October

### Indicator Price - ICO Composite

In [84]:
df = pd.read_csv('resources/indicator_ICOcomposite.csv')

,Unnamed: 0,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,January,62.75,69.38,61.12,58.14,69.17,152.08,100.33,100.03,130.61,...,126.85,197.35,188.90,135.38,110.75,148.24,110.89,139.07,115.60,101.56
1,February,67.01,70.55,55.51,57.32,72.37,152.24,110.50,121.89,130.78,...,123.37,216.03,182.29,131.51,137.81,141.10,111.75,137.68,114.19,100.67
2,March,75.25,72.47,56.48,54.76,76.11,162.73,105.89,137.47,119.93,...,125.30,224.33,167.77,131.38,165.03,127.04,117.83,134.07,112.99,97.50
3,April,75.34,71.45,53.64,51.38,81.19,159.59,107.09,142.20,119.66,...,126.89,231.24,160.46,129.55,170.58,129.02,117.93,130.39,112.56,94.42
4,May,73.30,67.47,49.27,54.18,108.42,155.96,110.24,180.44,114.23,...,128.10,227.97,157.68,126.96,163.94,123.49,119.91,125.40,113.34,93.33
5,June,69.91,65.58,48.13,54.54,127.91,141.66,105.79,155.38,103.84,...,142.20,215.58,145.31,117.58,151.92,124.97,127.05,122.39,110.44,99.97
6,July,68.36,64.31,48.70,60.61,191.44,132.71,99.97,135.04,97.32,...,153.41,210.36,159.07,118.93,152.50,119.77,132.98,127.26,107.20,103.01
7,August,74.10,63.34,45.89,67.69,181.53,141.70,102.73,132.63,101.25,...,157.46,212.19,148.50,116.45,163.08,121.21,131.00,128.24,102.41,96.07
8,September,75.55,66.86,47.11,71.64,202.39,124.76,96.52,132.51,95.82,...,163.61,213.04,151.28,111.82,161.79,113.14,138.22,124.46,98.17,97.74
9,October,73.89,62.83,52.88,67.78,185.64,120.02,98.56,121.09,95.01,...,161.56,193.90,147.12,107.03,172.88,118.43,142.68,120.01,111.21,97.35
10,November,70.10,64.30,57.49,70.03,168.12,117.99,97.14,118.16,98.26,...,173.90,193.66,136.35,100.99,162.17,115.03,145.82,117.26,109.59,107.23
11,December,72.83,63.07,64.00,71.50,149.14,99.57,90.04,130.02,100.73,...,184.26,189.02,131.31,106.56,150.66,114.63,131.70,114.00,100.61,117.37

In [85]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [86]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,62.75,69.38,61.12,58.14,69.17,152.08,100.33,100.03,130.61,97.62,...,126.85,197.35,188.90,135.38,110.75,148.24,110.89,139.07,115.60,101.56
1,67.01,70.55,55.51,57.32,72.37,152.24,110.50,121.89,130.78,92.36,...,123.37,216.03,182.29,131.51,137.81,141.10,111.75,137.68,114.19,100.67
2,75.25,72.47,56.48,54.76,76.11,162.73,105.89,137.47,119.93,89.40,...,125.30,224.33,167.77,131.38,165.03,127.04,117.83,134.07,112.99,97.50
3,75.34,71.45,53.64,51.38,81.19,159.59,107.09,142.20,119.66,85.71,...,126.89,231.24,160.46,129.55,170.58,129.02,117.93,130.39,112.56,94.42
4,73.30,67.47,49.27,54.18,108.42,155.96,110.24,180.44,114.23,89.51,...,128.10,227.97,157.68,126.96,163.94,123.49,119.91,125.40,113.34,93.33

In [87]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [89]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [91]:
# Concat dataframes for normalized (1NF) data structure
indicator_ICO_df = pd.concat(final_list).reset_index(drop = True)
indicator_ICO_df[3] = "ICO Composite"
indicator_ICO_df.head()

      0        1      2              3
0  1990  January  62.75  ICO Composite
1  1991  January  69.38  ICO Composite
2  1992  January  61.12  ICO Composite
3  1993  January  58.14  ICO Composite
4  1994  January  69.17  ICO Composite

### Indicator Price - Colombian Milds

In [92]:
df = pd.read_csv('resources/indicator_colombianMilds.csv')

In [93]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [94]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,82.07,91.55,78.40,71.61,85.85,177.23,119.08,146.18,184.21,123.07,...,207.51,279.88,255.91,169.19,132.90,185.26,135.21,164.96,143.77,129.28
1,91.55,94.21,71.75,72.45,93.04,175.07,134.94,188.62,190.59,116.92,...,204.71,296.44,244.14,161.70,172.22,174.11,137.17,163.67,141.50,127.93
2,103.24,99.36,73.67,67.07,93.23,185.75,130.60,212.96,166.07,117.05,...,205.71,300.68,222.84,161.53,211.07,154.29,145.20,158.40,139.45,125.23
3,101.79,97.27,69.55,59.77,97.53,180.30,134.31,199.22,158.17,114.02,...,199.50,312.95,214.46,161.76,220.62,157.06,143.66,154.97,139.29,124.42
4,99.14,91.51,64.93,67.35,133.90,177.18,142.56,318.50,146.33,123.95,...,200.33,302.17,207.32,158.35,211.66,150.19,144.49,151.41,140.26,124.40

In [95]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [96]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [99]:
# Concat dataframes for normalized (1NF) data structure
indicator_colombianMild_df = pd.concat(final_list).reset_index(drop = True)
indicator_colombianMild_df[3] = "Colombian Milds"
indicator_colombianMild_df.head()

      0        1      2                3
0  1990  January  82.07  Colombian Milds
1  1991  January  91.55  Colombian Milds
2  1992  January   78.4  Colombian Milds
3  1993  January  71.61  Colombian Milds
4  1994  January  85.85  Colombian Milds

### Indicator Price - Other Milds

In [101]:
df = pd.read_csv('resources/indicator_otherMilds.csv')

In [102]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [103]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,76.02,85.93,73.41,69.39,78.95,172.62,110.65,132.86,177.80,112.96,...,158.90,263.77,237.21,157.29,132.73,190.00,145.03,168.61,138.81,128.46
1,83.95,89.21,68.45,67.65,83.93,169.79,124.09,168.37,178.18,105.48,...,157.86,287.89,224.16,149.46,173.64,178.89,147.70,166.35,136.28,128.45
2,94.73,93.56,70.37,63.62,87.06,179.43,120.84,194.70,157.65,105.39,...,164.50,292.07,201.26,149.78,214.09,160.74,157.50,160.15,135.03,123.89
3,94.71,91.96,65.92,57.87,90.57,174.40,123.50,206.99,150.35,102.11,...,169.24,300.12,191.45,149.81,223.48,164.00,154.22,155.40,134.34,121.13
4,92.97,87.88,60.86,62.18,121.88,171.01,129.27,267.27,137.72,111.07,...,173.28,291.09,184.65,147.19,214.20,158.48,155.19,150.00,135.61,120.55

In [104]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [105]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [106]:
# Concat dataframes for normalized (1NF) data structure
indicator_otherMild_df = pd.concat(final_list).reset_index(drop = True)
indicator_otherMild_df[3] = "Other Milds"
indicator_otherMild_df.head()

      0        1      2            3
0  1990  January  76.02  Other Milds
1  1991  January  85.93  Other Milds
2  1992  January  73.41  Other Milds
3  1993  January  69.39  Other Milds
4  1994  January  78.95  Other Milds

### Indicator Price - Brazilian Naturals

In [116]:
df = pd.read_csv('resources/indicator_brazilianNaturals.csv')

In [117]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [118]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,70.36,75.59,62.03,67.13,71.42,162.81,127.54,127.28,179.83,99.43,...,131.67,219.77,228.21,145.17,114.02,163.50,121.21,145.70,123.67,102.94
1,77.59,79.39,58.05,66.34,80.14,161.07,144.05,160.21,177.78,91.72,...,124.57,247.00,215.40,136.63,148.74,151.90,122.24,145.50,120.83,100.06
2,86.17,83.83,59.60,62.60,84.72,171.48,140.99,179.75,154.84,88.90,...,126.21,260.98,192.03,133.61,182.97,133.55,130.38,139.67,119.80,95.81
3,87.45,81.58,54.94,54.92,87.14,166.54,132.92,183.73,141.11,86.14,...,125.71,273.40,180.90,132.62,190.62,136.70,128.10,136.09,118.76,92.47
4,86.31,75.56,51.11,57.26,118.37,161.72,134.76,209.62,124.89,96.29,...,127.32,268.66,174.17,130.29,181.97,130.38,129.05,131.21,119.57,91.95

In [119]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [120]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [121]:
# Concat dataframes for normalized (1NF) data structure
indicator_brazilianNatural_df = pd.concat(final_list).reset_index(drop = True)
indicator_brazilianNatural_df[3] = "Brazilian Naturals"
indicator_brazilianNatural_df.head()

      0        1      2                   3
0  1990  January  70.36  Brazilian Naturals
1  1991  January  75.59  Brazilian Naturals
2  1992  January  62.03  Brazilian Naturals
3  1993  January  67.13  Brazilian Naturals
4  1994  January  71.42  Brazilian Naturals

### Indicator Price - Robustas

In [122]:
df = pd.read_csv('resources/indicator_robustas.csv')

In [123]:
# Get list of months
month_list = []
for index, row in df.iterrows():
    month_list.append(row[0])

In [124]:
# Drop "months" column
new_df = df.drop(columns=df.columns[0])
new_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,49.47,52.83,48.83,46.90,59.39,131.54,89.99,67.19,83.41,82.29,...,70.08,101.09,96.72,99.69,87.73,98.01,74.71,108.32,88.65,78.24
1,50.06,51.87,42.57,46.99,60.80,134.69,96.89,75.40,83.36,79.23,...,67.88,109.35,101.93,104.03,95.90,98.36,74.04,106.49,89.24,78.65
2,55.76,51.37,42.59,45.90,65.16,146.03,90.94,80.23,82.19,73.42,...,67.25,118.13,103.57,106.26,105.37,92.16,75.60,106.73,88.18,76.96
3,55.95,50.93,41.36,44.88,71.82,144.78,90.67,77.39,88.97,69.32,...,71.52,117.37,101.80,101.68,105.55,92.06,80.18,103.58,88.31,73.28
4,53.62,47.06,37.68,46.17,94.95,140.90,91.20,93.60,90.74,67.94,...,70.61,121.98,106.88,99.18,102.99,87.56,83.93,98.36,88.74,71.12

In [125]:
# Loop through DataFrame to seperate data
big_list = []
counter = -1

for index , row in new_df.iterrows():
    
    small_list = []
    for z in row:
        small_list.append(z)
    
    year_list = []
    for x in range(len(small_list)):
        year = 1990 + x
        year_list.append(year)
    
    list1 = []
    counter += 1
    for y in range(len(small_list)):
        list1.append(month_list[counter])
        
        
    big_list.append(year_list)
    big_list.append(list1)
    big_list.append(small_list)

In [126]:
# Create individual dataframes from seperated data
final_list = []
for item in range(len(month_list)):
    df = pd.DataFrame([big_list[(item * 3)],
                       big_list[(int((((item + 1)*9)/3)-2))],
                       big_list[((((item + 2)*3)-4))]]).T.reset_index(drop = True)
    final_list.append(df)

In [127]:
# Concat dataframes for normalized (1NF) data structure
indicator_robusta_df = pd.concat(final_list).reset_index(drop = True)
indicator_robusta_df[3] = "Robustas"
indicator_robusta_df.head()

      0        1      2         3
0  1990  January  49.47  Robustas
1  1991  January  52.83  Robustas
2  1992  January  48.83  Robustas
3  1993  January   46.9  Robustas
4  1994  January  59.39  Robustas

## Create SQLite database
Use the data frames to create a <em>SQLite</em> database

In [56]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, String, create_engine
from sqlalchemy.orm import Session

### Concatenate related dataframes

In [57]:
# Concat "Trade Statistic" DataFrames
trade_list = [export_df , import_df]

trade_df = pd.concat(trade_list).reset_index(drop = True)

In [58]:
# Concat "Price to Growers" DataFrames
priceGrowers_list = [colombianMild_df , otherMild_df , brazilianNatural_df , robusta_df]

priceGrowers_df = pd.concat(priceGrowers_list).reset_index(drop = True)

In [59]:
# Conct "Total Production" DataFrames
totalProd_list = [totalProd_april_df, totalProd_july_df, totalProd_october_df]

totalProd_df = pd.concat(totalProd_list).reset_index(drop = True)

### Create table classes

In [60]:
Base = declarative_base()

In [71]:
class trade_stats(Base):
    __tablename__ = 'Trade Stats'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    country = Column(String(255))
    per1K_60kgbag = Column(Float)
    transaction = Column(String(255))

class price_growers(Base):
    __tablename__ = 'Price to Growers'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    country = Column(String(255))
    UScents_perlb = Column(Float)
    coffee_type = Column(String(255))

class total_prod(Base):
    __tablename__ = 'Total Production'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    country = Column(String(255))
    per1K_60kgbag = Column(Float)
    month_group = Column(String(255))

In [72]:
dbPath = 'sqlite:///coffee_db.sqlite'
engine = create_engine(dbPath)
Base.metadata.create_all(engine)
s = Session(bind=engine)

In [73]:
trade_objects = []
for index, row in trade_df.iterrows():
    data_row = trade_stats(year=row[0], country=row[1], per1K_60kgbag=row[2], transaction=row[3])
    trade_objects.append(data_row)

s.bulk_save_objects(trade_objects)
s.commit()

In [74]:
priceGrowers_objects = []
for index, row in priceGrowers_df.iterrows():
    data_row = price_growers(year=row[0], country=row[1], UScents_perlb=row[2], coffee_type=row[3])
    priceGrowers_objects.append(data_row)

s.bulk_save_objects(priceGrowers_objects)
s.commit()

In [76]:
totalProd_objects = []
for index, row in totalProd_df.iterrows():
    data_row = total_prod(year=row[0], country=row[1], per1K_60kgbag=row[2], month_group=row[3])
    totalProd_objects.append(data_row)

s.bulk_save_objects(totalProd_objects)
s.commit()

In [77]:
s.close()